{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set serviceName %}
    Confirm your identity
{% endset %}
{% set backLink = 'true' %}

{% set title =  "Does your passport have this symbol on the cover?" %}

{% block content %}

{% set hintTextHtml %}
<p class="govuk-hint">
    This symbol means that your passport has a biometric chip.
</p>
<p class="govuk-hint">
    If your passport has this symbol, you can use it to confirm your identity.
</p>
<p class="govuk-hint">
    If you're not sure what the biometric chip icon looks like, check the illustration below.
</p>
<img class="govuk-!-text-align-left" id="chipped-passport-icon" src="/public/images/passport-biometric.png" alt="A biometric passport book with a magnified chip">
{% endset %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/app/biometric-passport/answer" method="post">

            {% if showErrorSummary %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Select if your passport has a symbol on the cover",
                        href: "#biometric-passport-symbol"
                    }
                ]
            }) }}
            {{ govukRadios({
            name: "biometricPassportSymbol",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: hintTextHtml | safe
            },
            items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
            ],
                errorMessage: {
                    text: "Select if your passport has a symbol on the cover"
                }
            }) }}
            {% else %}
            {{ govukRadios({
            name: "biometricPassportSymbol",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: hintTextHtml | safe
            },
            items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
            ]
            }) }}
            {% endif %}
            
            {{ govukButton({
                text: "Continue",
                type: "Submit"
            }) }}

        </form>

    </div>
</div>
{% endblock %}