{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set serviceName %}
    Confirm your identity
{% endset %}
{% set backLink = 'true' %}

{% set title =  "Do you have a valid UK photocard driving licence?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/driving-licence/answer" method="post">

            {% if showErrorSummary %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Select yes if you have a valid UK photocard driving licence",
                        href: "#driving-licence"
                    }
                ]
            }) }}
            {{ govukRadios({
            name: "driving-licence",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "You cannot use an expired licence or a photocopy or digital copy of your licence."
            },
            items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
            ],
                errorMessage: {
                    text: "Select yes if you have a valid UK photocard driving licence"
                }
            }) }}
            {% else %}
            {{ govukRadios({
            name: "driving-licence",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "You cannot use an expired licence or a photocopy or digital copy of your licence."
            },
            items: [
                {
                    value: "Yes",
                    text: "Yes"
                },
                {
                    value: "No",
                    text: "No"
                }
            ]
            }) }}
            {% endif %}

            {{ govukDetails({
                summaryText: "How do I know my driving licence is valid?",
                text: "Your full or provisional licence is valid until the expiry date printed in section 4b on your licence card."
            }) }}
            
            {{ govukButton({
                text: "Continue",
                type: "Submit"
            }) }}

        </form>

    </div>
</div>
{% endblock %}