{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Create a GOV.UK One Login or sign in" %}

{% set detailsTextHtml %}
    <p class="govuk-body">
        GOV.UK One Login is new. At the moment you can only use it to access some government services.
    </p>

    <p class="govuk-body">
        It does not work with all government accounts or services yet (for example Government Gateway or Universal Credit).
    </p>

    <p class="govuk-body">
        In the future, you’ll be able to use GOV.UK One Login to access all services on GOV.UK.
    </p>
{% endset %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <p class="govuk-body">
                You’ll need:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>an email address</li>
                <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
            </ul>

            <div class="govuk-inset-text">
                You can also <a class="govuk-link" href="">use GOV.UK One Login in Welsh (Cymraeg)</a>.
            </div>

            <div class="govuk-button-group">

                {{ govukButton({
                    text: "Create a GOV.UK One Login",
                    href: "/ur-r4/gds/email-address"
                }) }}

                {{ govukButton({
                    text: "Sign in",
                    classes: "govuk-button--secondary",
                    href: "/ur-r4/gds/returning/return-email-address"
                }) }}
            </div>

            {{ govukDetails({
                summaryText: "About GOV.UK One Login",
                html: detailsTextHtml | safe
            }) }}

    </div>

{% endblock %}
