{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Create a GOV.UK One Login account" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <p class="govuk-body">
                To use this service, you’ll need to create a GOV.UK One Login account.
            </p> 

            <p class="govuk-body">
                This account will let you securely access this service and other government services that use GOV.UK One Login.
            </p>

            <p class="govuk-body">
                You'll need:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a valid photo ID, such as your passport or driving licence</li>
                <li>details of your home address for the past 5 years</li>
            </ul>

            <p class="govuk-body">
                You’ll also need to prove your identity to use this service.
            </p>

            <p class="govuk-body">
                You only need to provide this information once to confirm who you are.
            </p>

            {{ govukButton({
                text: "Start now",
                href: "/ur-r2/gds/email-address"
            }) }}

    </div>

{% endblock %}