{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Create a GOV.UK One Login account" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Transition
            </h1>

            <p class="govuk-body">
                #
            </p>

            {{ govukButton({
                text: "Start now",
                href: "/ur-r2/gds/sign-in-or-create"
            }) }}

    </div>

{% endblock %}