{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Sign in with GOV.UK One Login" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            <p class="govuk-body">
                You need to sign in with your GOV.UK One Login. If you don't have a GOV.UK One Login, you'll need to create one.
            </p>

            <p class="govuk-body">
                Your GOV.UK One Login allows you to securely access this service and other government services that use GOV.UK One Login.
            </p>

            <p class="govuk-body">
                You’ll also need to prove your identity. This will help to keep your information safe.
            </p>

            <p class="govuk-body">
                You’ll need:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a valid photo ID, such as your passport or driving licence</li>
                <li>your current home address (you'll need to provide your previous address if you’ve moved within the last 3 months)</li>
            </ul>

            <h2 class="govuk-heading-m">
                If you already have a GOV.UK One Login
            </h2>

            <p class="govuk-body">
                Sign into GOV.UK One Login with the details you’ve previously set up.
            </p>

            {{ govukButton({
                text: "Continue",
                href: "/ur-r2/gds/sign-in-or-create"
            }) }}

    </div>

{% endblock %}
