{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Important information about managing the money you owe" %}

{% set serviceName %}
    Repay and manage benefit money you owe
{% endset%}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-xl">Carol Brookes</span>
            <h1 class="govuk-heading-xl">
                {{ title }}
            </h1>

            <h2 class="govuk-heading-m">
                DWP repayments
            </h2>

            {{ govukInsetText({
                html: "Total amount you owe:<br><p class=govuk-!-font-weight-bold govuk-!-font-size-27>£500.00</p>"
            }) }}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-m">
                Universal Credit repayments 
            </h2>

            <p class="govuk-body">
                If you have any other deductions from your Universal Credit payment, they cannot be managed on this service. For example, any repayments for an advance taken out during your current claim.
            </p>

            <p class="govuk-body">
                For more information, refer to your Universal Credit statement.
            </p>

            {{ govukButton({
                text: " Continue to account home",
                href: ""
            }) }}

    </div>

{% endblock %}