{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'false' %}
{% set backLink = 'true' %}

{% set title =  "First contact letter" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p class="govuk-body govuk-!-text-align-right">
            DWP Debt Management contact centre<br>
            Telephone: 0800 916 0647<br>
            Opening Times:<br>
            Mon-Fri 8am to 7:30pm<br>
            Textphone: 0800 916 0651
        </p>

        <p class="govuk-body govuk-!-text-align-right">
            Account Holder: Ashley Chamberlain<br>
            Reference Number: LM555555A<br>
            Date: 7 September 2023
        </p>

        <h1 class="govuk-heading-m">
            Invitation to use our new online service
        </h1>

        <p class="govuk-body">
            Dear Ashley Chamberlain
        </p>

        <p class="govuk-body">
            You can now view and manage repayments of the benefit money you owe online.
        </p>

        <p class="govuk-body">
            We’re introducing this service to a small number of people. Please do not share this invite with anyone else.
        </p>

        <p class="govuk-body">
            As of 7 September 2023, you owe £500 to Department of Work and Pensions Debt Management. This does not include any Universal Credit (UC) advances held under UC regulations.
        </p>

        <h2 class="govuk-heading-s">
            What you can do with this service
        </h2>

        <p class="govuk-body">
            You can use this service to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>check how much you have left to pay</li>
            <li>change the amount of future payments</li>
            <li>find help and support with your repayments</li>
        </ul>

        <h2 class="govuk-heading-s">
            Creating your account
        </h2>

        <p class="govuk-body">
            You’ll need access to your:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>personal email address</li>
            <li>mobile phone or an authenticator app</li>
            <li>National Insurance number</li>
        </ul>

        <h2 class="govuk-heading-s">
            Proving your identity
        </h2>

        <p class="govuk-body">
            You’ll also need  to prove your identity. You’ll need:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>a valid photo ID, like your passport or driving licence</li>
            <li>details of your home address for the past 5 years </li>
        </ul>

        <h2 class="govuk-heading-s">
            How to access the service
        </h2>

        <p class="govuk-body">
            Go to <strong><u>https://www.gov.uk/repay-manage-benefit-owed</u></strong> to create your account and prove your identity. When this is complete, you’ll be able to view and manage your repayments.
        </p>

        <p class="govuk-body">
            If you use our new service and want to tell us about your experience, you can use the feedback option at the top of the service page to tell us what you think. 
        </p>

        <p class="govuk-body">
            Yours sincerely,<br>
            The Repay and Manage the Benefit Money you Owe team
        </p>

        <h2 class="govuk-heading-s">
            If you have any questions about claiming online
        </h2>

        <p class="govuk-body">
            You can contact us by:<br>
            Telephone: 0800 916 0647<br>
            Textphone: 0800 916 0651
        </p>

        <p class="govuk-body">
            Opening times: Monday to Friday, 9am to 7:30pm
        </p>

        <p class="govuk-body">
            Calls to 0800 numbers are free from personal mobiles and landlines. 
        </p>

    </div>
</div>
{% endblock %}