{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set breadcrumbs = 'true' %}

{% set title =  "Repay and manage benefit money you owe" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p class="govuk-body">
        Use this service if you need to repay money to the Department for Work and Pensions (DWP).
      </p>

      <p class="govuk-body">
        DWP will send you a letter or text message inviting you to use this service.
      </p>

      <p class="govuk-body">
        There’s a different way to <a class="govuk-link" href="">repay benefit money to the Department for Communities if you live in Northern Ireland</a>.
      </p>

      <p class="govuk-body">
        This service is also available <a class="govuk-link" href="">in Welsh (Cymraeg)</a>.
      </p>

      <h2 class="govuk-heading-m">
        If you’re getting benefits
      </h2>

      <p class="govuk-body">
        Your benefit payments will be reduced until you’ve paid back the money.
      </p>

      <p class="govuk-body">
        You can use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check how much you owe</li>
        <li>check when you will have repaid the money</li>
        <li>get help and support to make repayments</li>
      </ul>

      <h2 class="govuk-heading-m">
        If you’ve stopped getting benefits
      </h2>

      <p class="govuk-body">
        You can use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check how much you owe</li>
        <li>set up regular monthly payments</li>
        <li>manage an existing Direct Debit or flexible payment plan</li>
        <li>pay back what you owe in full</li>
        <li>get help and support to make repayments</li>
      </ul>

      <p class="govuk-body">
        You’ll need a credit or debit card to make a payment through this service. Your bank may charge you a fee if you pay by credit card.
      </p>

      <h2 class="govuk-heading-m">
        Sign in to the service
      </h2>

      <p>
        You’ll need to create a GOV.UK One Login account and prove your identity when you first use this service.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/ur-r1/dth/email-address",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Other ways to pay if you’ve stopped getting benefits
      </h2>

      <p>
        If you’ve stopped getting benefits, there are other ways to repay the money.
      </p>

      <h3 class="govuk-heading-s">
        Pay using Direct Debit, debit card, cheques or cash
      </h3>

      <p>
        Contact DWP to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>set up monthly repayments by Direct Debit</li>
        <li>make a payment using a debit card</li>
        <li>request a paying-in slip for cheque or cash payments</li>
      </ul>

      <p class="govuk-body">
        DWP Debt Management contact centre
      </p>

      <ul class="govuk-list">
        <li>Telephone: 0800 916 0647</li>
        <li>Textphone: 0800 916 0651</li>
        <li><a class="govuk-link" href="">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 916 0647</li>
        <li><a class="govuk-link" href="">Video relay service</a> for British Sign Language (BSL) users – <a class="govuk-link" href="">check you can use the service</a></li>
        <li>Saturday and Sunday, 10am to 4pm</li>
        <li class="govuk-!-margin-top-5">Calling from abroad: +44 (0)161 904 1233</li>
        <li>Monday to Friday, 8:30am to 7:30pm</li>
      </ul>

      <p class="govuk-body">
        <a class="govuk-link" href="">Find out about call charges</a>
      </p>

      <h3 class="govuk-heading-s">
        Pay using online banking
      </h3>

      <p class="govuk-body">
        If you’re paying from a UK bank account, use the following details:
      </p>

      <ul class="govuk-list">
        <li>account name: DWP Debt Management</li>
        <li>sort code: 60 70 80</li>
        <li>account number: 10025634</li>
        <li>payment reference: the reference number on your letter from DWP or your National Insurance number</li>
      </ul>

      <p class="govuk-body">
        If you’re paying from an overseas account, use the following details:
      </p>

      <ul class="govuk-list">
        <li>account name: DWP Debt Management</li>
        <li>account number (IBAN): GB30NWBK60708010025634</li>
        <li>account number (BIC): NWBKGB2L</li>
        <li>payment reference: the reference number on your letter from DWP or your National Insurance number</li>
      </ul>

    </div>
    
  </div>

{% endblock %}