{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Continue to the live service - GOV.Uk One Login prototype
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}





{% endblock %}


{% block content %}
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--interruption govuk-!-padding-left-8 govuk-!-padding-top-8 govuk-!-padding-right-8">
          
    
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <form class="form" action="https://home.account.gov.uk/contact-gov-uk-one-login" method="post" rel="noreferrer noopener">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 white-text">Continue to the live service</h1>

          <p class="govuk-body white-text">You've clicked on a link that will take you to the live service.</p>

          <p class="govuk-body white-text govuk-!-margin-bottom-6">Continue to leave the prototype, or go back to your original tab.</p>

          <a href="https://home.account.gov.uk/contact-gov-uk-one-login" role="button" draggable="false" class="govuk-button govuk-button--inverse govuk-button--inverse-transition" data-module="govuk-button">
            Continue
        </a>

        <p class="govuk-body">
          <a href="/index" class="govuk-link govuk-link--inverse">Prototype home</a>
          </p>
    
{% endblock %}


{% block footer %}

{% endblock %}
