{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
GOV.UK One Login prototype
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}





{% endblock %}


{% block content %}
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--interruption govuk-!-padding-left-8 govuk-!-padding-top-8 govuk-!-padding-right-8">

          <form class="form" action="/idv/authentication/in-person-return/create-account" method="post">
          
    
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 white-text">User proves identity at a Post Office</h1>

          <p class="govuk-body white-text">After their photo ID is scanned and their picture taken at the Post Office, the user will get an <a href="/idv/f2f-cri/emails/id-check-outcome-email" class="govuk-link govuk-link--inverse" rel="noreferrer noopener" target="_blank">ID check outcome email (opens in new tab)</a>.</p>

          <p class="govuk-body govuk-!-margin-bottom-6 white-text">They need to use the link in the email to sign in to their GOV.UK One Login and view their result.</p>
          

          <button type="submit" class="govuk-button govuk-button--inverse govuk-button--inverse-transition" data-module="govuk-button">
            Continue
            </button>

            <p class="govuk-body">
              <a href="/index" class="govuk-link govuk-link--inverse">Go back to prototype home</a>
              </p>
    















{% endblock %}


{% block footer %}

{% endblock %}
