{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Create a GOV.UK One Login or sign in" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      <h1 class="govuk-heading-l">{{ title }}</h1>

<p class="govuk-body">You’ll need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>an email address</li>
  <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
</ul>

      <div class="govuk-inset-text">
        You can also <a href="govuk-link--no-visited-state" class="govuk-link">use GOV.UK One Login in Welsh (Cymraeg)</a>.
      </div>

        <button value="create" name="optionSelected" class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" id="create-account-link" formaction="#">
          Create a GOV.UK One Login
        </button>
      
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="sign-in-button" formaction="enter-email">
          Sign in
        </button>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About GOV.UK One Login
          </span>
        </summary>
        <div class="govuk-details__text">
      <p class="govuk-body">GOV.UK One Login is new. At the moment you can only use it to access some government services.</p>
      <p class="govuk-body">It does not work with all government accounts or services yet (for example Government Gateway or Universal Credit).</p>
      <p class="govuk-body">In the future, you’ll be able to use GOV.UK One Login to access all services on GOV.UK.</p>
        </div>
      </details>


    </form>
    </div>
  </div>

{% endblock %}
