{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the 6 digit security code shown in your authenticator app - GOV.UK One Login
{% endblock %}



{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/page-index/ipv-core/signed-in" method="post">

{{ govukInput({
  label: {
    text: "Enter the 6 digit security code shown in your authenticator app",
    classes: "govuk-label--l",
    isPageHeading: true
    
  },
  classes: "govuk-input--width-10",
  id: "event-name",
  name: "event-name"
}) }}

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

      </form>
    </div>
  </div>
{% endblock %}
