//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

@import "includes/panel";
@import "patterns/post-office-start-page";
@import "patterns/interruption-card";
@import "patterns/prototype-transitions";
@import "patterns/information-box";
@import "patterns/loading-spinner";
@import "patterns/email-template";
@import "patterns/mobile-images";
@import "patterns/live-service-tag";
@import "patterns/mobile-app-container";
@import "patterns/mobile-app-library";
@import "patterns/authentication";
@import "patterns/button-spinner";
@import "patterns/spinner";
@import "versions/scenario1";
@import "patterns/service-header.scss";
@import "application-ol.scss";

// Add extra styles here

// GOV header overide



.govuk-header {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    border-bottom: 10px solid #fff;
    color: #fff;
    background: #0b0c0c
}

@media print {
    .govuk-header {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-header {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-header {
        font-size: 14pt;
        line-height: 1.2
    }
}

.govuk-header__container--full-width {
    padding: 0 15px;
    border-color: #1d70b8
}

.govuk-header__container--full-width .govuk-header__menu-button {
    right: 15px
}

.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    border-bottom: 10px solid #1d70b8
}

.govuk-header__container:after {
    content: "";
    display: block;
    clear: both
}

.govuk-header__logotype {
    display: inline-block;
    margin-right: 5px
}

@media(forced-colors: active) {
    .govuk-header__logotype {
        forced-color-adjust: none;
        color: linktext
    }
}

.govuk-header__logotype:last-child {
    margin-right: 0
}

.govuk-header__logotype-crown {
    position: relative;
    top: -1px;
    margin-right: 1px;
    fill: currentcolor;
    vertical-align: top
}

.govuk-header__logotype-crown-fallback-image {
    width: 36px;
    height: 32px;
    border: 0;
    vertical-align: bottom
}

.govuk-header__product-name {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    display: inline-table
}

@media print {
    .govuk-header__product-name {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-header__product-name {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 1
    }
}

@media print {
    .govuk-header__product-name {
        font-size: 18pt;
        line-height: 1
    }
}

.govuk-header__link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none
}

@media print {
    .govuk-header__link {
        font-family: sans-serif
    }
}

.govuk-header__link:link,.govuk-header__link:visited {
    color: #fff
}

.govuk-header__link:hover,.govuk-header__link:active {
    color: rgba(255,255,255,.99)
}

.govuk-header__link:focus {
    color: #0b0c0c
}

.govuk-header__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: .1em
}

.govuk-header__link:focus {
    outline: 3px solid rgba(0,0,0,0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.govuk-header__link--homepage {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    line-height: 1
}

@media print {
    .govuk-header__link--homepage {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-header__link--homepage {
        display:inline
    }

    .govuk-header__link--homepage:focus {
        box-shadow: 0 0 #fd0
    }
}

.govuk-header__link--homepage:link,.govuk-header__link--homepage:visited {
    text-decoration: none
}

.govuk-header__link--homepage:hover,.govuk-header__link--homepage:active {
    margin-bottom: -3px;
    border-bottom: 3px solid
}

.govuk-header__link--homepage:focus {
    margin-bottom: 0;
    border-bottom: 0
}

.govuk-header__service-name,.govuk-header__link--service-name {
    display: inline-block;
    margin-bottom: 10px;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111
}

@media print {
    .govuk-header__service-name,.govuk-header__link--service-name {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-header__service-name,.govuk-header__link--service-name {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-header__service-name,.govuk-header__link--service-name {
        font-size: 18pt;
        line-height: 1.15
    }
}

.govuk-header__logo,.govuk-header__content {
    box-sizing: border-box
}

.govuk-header__logo {
    margin-bottom: 10px;
    padding-right: 50px
}

@media(min-width: 48.0625em) {
    .govuk-header__logo {
        width:33.33%;
        padding-right: 15px;
        float: left;
        vertical-align: top
    }
}

@media(min-width: 48.0625em) {
    .govuk-header__content {
        width:66.66%;
        padding-left: 15px;
        float: left
    }
}

.govuk-header__menu-button {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
    background: none;
    cursor: pointer
}

@media print {
    .govuk-header__menu-button {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-header__menu-button {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-header__menu-button {
        font-size: 14pt;
        line-height: 1.2
    }
}

.govuk-header__menu-button:hover {
    -webkit-text-decoration: solid underline 3px;
    text-decoration: solid underline 3px;
    text-underline-offset: .1em
}

.govuk-header__menu-button:focus {
    outline: 3px solid rgba(0,0,0,0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.govuk-header__menu-button:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 8.66px 5px 0 5px;
    border-top-color: inherit;
    content: "";
    margin-left: 5px
}

.govuk-header__menu-button[aria-expanded=true]:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-width: 0 5px 8.66px 5px;
    border-bottom-color: inherit
}

@media(min-width: 40.0625em) {
    .govuk-header__menu-button {
        top:15px
    }
}

.js-enabled .govuk-header__menu-button {
    display: block
}

.govuk-header__menu-button[hidden],.js-enabled .govuk-header__menu-button[hidden] {
    display: none
}

@media(min-width: 48.0625em) {
    .govuk-header__navigation {
        margin-bottom:10px
    }
}

.govuk-header__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.govuk-header__navigation-list[hidden] {
    display: none
}

@media(min-width: 48.0625em) {
    .govuk-header__navigation--end {
        margin:0;
        padding: 5px 0;
        text-align: right
    }
}

.govuk-header__navigation--no-service-name {
    padding-top: 40px
}

.govuk-header__navigation-item {
    padding: 10px 0;
    border-bottom: 1px solid #2e3133
}

@media(min-width: 48.0625em) {
    .govuk-header__navigation-item {
        display:inline-block;
        margin-right: 15px;
        padding: 5px 0;
        border: 0
    }
}

.govuk-header__navigation-item a {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    white-space: nowrap
}

@media print {
    .govuk-header__navigation-item a {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-header__navigation-item a {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-header__navigation-item a {
        font-size: 14pt;
        line-height: 1.2
    }
}

.govuk-header__navigation-item--active a:link,.govuk-header__navigation-item--active a:hover,.govuk-header__navigation-item--active a:visited {
    color: #1d8feb
}

@media print {
    .govuk-header__navigation-item--active a {
        color: #1d70b8
    }
}

.govuk-header__navigation-item--active a:focus {
    color: #0b0c0c
}

.govuk-header__navigation-item:last-child {
    margin-right: 0;
    border-bottom: 0
}

@media print {
    .govuk-header {
        border-bottom-width: 0;
        color: #0b0c0c;
        background: rgba(0,0,0,0)
    }

    .govuk-header__logotype-crown-fallback-image {
        display: none
    }

    .govuk-header__link:link,.govuk-header__link:visited {
        color: #0b0c0c
    }

    .govuk-header__link:after {
        display: none
    }
}

// Service name formatting

.service-name-formatting .govuk-header__service-name {
    margin-left: -15%
}

@media only screen and (max-width: 940px) {
    .service-name-formatting .govuk-header__service-name {
        width:85%
    }
}

@media only screen and (max-width: 768px) {
    .service-name-formatting .govuk-header__service-name {
        margin-left:0
    }
}

// Sign out

.sign-out {
    text-align: right
}

@media only screen and (min-width: 769px) {
    .sign-out {
        float:right
    }
}


.alert-green {
    border-left: 5px solid #00703c;
    background: rgba(0,112,60,.05);
    padding: 1em 3em 1em 1em;
    margin-bottom: 20px !important;


}

.govuk-phase-banner__content__tag {
  text-transform: capitalize;
}

//DWP language toggle
.dwp-language-toggle__list {
    margin-top: 1em;
    text-align: right;
    @include govuk-font($size: 16);
    margin-bottom: govuk-spacing(-3);
}

.dwp-language-toggle__list-item {
    display: inline-block;
}

.dwp-language-toggle__list-item:first-child:after {
    content: "";
    display: inline-block;
    border-right: 1px solid #0b0c0c;
    position: relative;
    top: .1875em;
    height: 1em;
}

// Show or hide password
.govuk-show-password__input-wrapper {
    display: table;
    display: flex;
    width: 100%;
    flex-direction: column
}

@media(min-width: 20em) {
    .govuk-show-password__input-wrapper {
        flex-direction: row
    }
}

.govuk-show-password__input-wrapper .govuk-input--with-password {
    display: table-cell
}

.govuk-show-password__input-wrapper .govuk-input--with-password:focus {
    z-index: 1
}

.govuk-show-password__input-wrapper .govuk-input--with-password::-ms-reveal {
    display: none
}

.govuk-show-password__toggle {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    z-index: 0;
    display: table-cell;
    padding: 5px 15px;
    min-width: 5.5em;
    color: #1d70b8;
    text-decoration: underline;
    background: #fff;
    border: solid 2px #0b0c0c;
    white-space: nowrap;
    cursor: pointer
}

@media print {
    .govuk-show-password__toggle {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .govuk-show-password__toggle {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .govuk-show-password__toggle {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media(max-width: 19.99em) {
    .govuk-show-password__toggle {
        padding: 5px;
        width: 100%;
        margin-top: -2px;
        white-space: normal
    }
}

@media(min-width: 20em) {
    .govuk-show-password__toggle {
        margin-left: -2px;
        margin-top: 0;
        margin-bottom: 0
    }
}

.govuk-show-password__toggle:hover {
    color: #003078
}

.govuk-show-password__toggle:focus {
    z-index: 1;
    background: #fd0;
    color: #0b0c0c;
    outline: 0
}

.govuk-show-password__toggle:active {
    z-index: 1;
    background: #fff;
    border-color: #fd0;
    color: #0b0c0c
}

.atw-homepage {
    width:100%;
    max-width: 960px;
    height: auto;
    width: auto\9; /* ie8 */;
    object-fit: cover;
    object-position: bottom;
    @include govuk-responsive-margin(6, "bottom");
}

.object-fit--contain {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    max-height: 100%; /* Ensure image doesn't exceed container height */
}

//dark mode
.govuk-dark-mode {
    background-color: black;
}


.govuk-footer {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 10px solid #1d70b8;
    color: #0b0c0c;
    background: #f3f2f1;
}