{% extends "layouts/_base-a2w-signout.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Account home" %}
{% block beforeContent %}


<div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    }
  ]
}) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}


{% block content %}

<span class="govuk-caption-xl">Joe Bloggs</span>
      <h1 class="govuk-heading-xl">Account home</h1>

<div class="nhs-card-wrapper">
<div class="cards-grid">
  <div class="card">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
      <div class="nhsuk-card__content nhsuk-card__content--secondary">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="start-claim/claim-type">Start a claim</a>
        </h2>
        <p class="nhsuk-card__description">Claim money back from your grant</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
              <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="recent-claims/recent-claims">Recent claims</a> </h2>
                <p class="nhsuk-card__description">Claims made in the past 3 months</p>
              </div>
        </div>
  </div>

  <div class="card">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
              <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="payments/which-payments">Payments</a> </h2>
                <p class="nhsuk-card__description">Check the progress of payments, including any rejected payments</p>
              </div>
        </div>
  </div>


<div class="card">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
              <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="personal-details/personal-details">Personal details</a> </h2>
                <p class="nhsuk-card__description">View and update your details.</p>
              </div>
        </div>
  </div>

  <div class="card">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
              <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="claim-by-post/claim-by-post">How to claim by post</a> </h2>
                <p class="nhsuk-card__description">Get a claim form and send it by post if you cannot claim online</p>
              </div>
        </div>
  </div>

   <div class="card">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
              <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="grant-summary/select-support-type">Grant summary</a> </h2>
                <p class="nhsuk-card__description">Your grant total, how much you have left and when you'll need to renew</p>
              </div>
        </div>
  </div>
</div>
</div>

<div class="govuk-!-margin-top-6">

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h4 class="govuk-heading-m">
        Get help
      </h4>

      <p class="govuk-body">You can contact us for free by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Telephone: 0800 121 7479</li>
          <li><a href="#" class="govuk-link">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
          <li><a href="#" class="govuk-link">Video Relay Service</a> for British Sign Language – <a href="#" class="govuk-link">find out how to use the service</a></li>
        </ul>


        <p class="govuk-body">
          Opening times: Monday to Friday, 9am to 5pm (except public holidays)
        </p>

    </div>


{% endblock %}


