{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set breadcrumbs = 'false' %}

{% set title =  "Apply for Maternity Allowance" %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Benefits",
        href: "#"
      },
      {
        text: "Benefits and financial support if you're disabled or have a health condition"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Access to Work : get support if you have a disability or health condition
      </h1>

      <p class="govuk-body">Contents</p>

      <ul class="govuk-list govuk-!-margin-bottom-6">
        <li>
          – <a class="govuk-link" href="#">What Access to Work is</a>
        </li>
        <li>
          – <a class="govuk-link" href="#">Eligibility</a>
        </li>
        <li>
           – <a class="govuk-link" href="#">Apply for an Access to Work grant</a>
        </li>
        <li>
          – <a class="govuk-link" href="#">After you apply for the grant</a>
        </li>
        <li>
          – Claiming money from your grant
        </li>
        <li>
          – <a class="govuk-link" href="#">Renew your grant</a>
        </li>
      </ul>

    </div>
  </div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l">Claiming money from your grant</h2>

    <p class="govuk-body">Once you have received your grant approval letter, you can claim money from your grant online or by post.</p>

    <h3 class="govuk-heading-m">What you need to claim</h3>

      <p class="govuk-body">To claim money from your grant you’ll need to provide:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the dates you had support</li>
        <li>invoices or receipts showing the cost of your support</li>
        <li>bank details for the person or company who will receive the money from the grant</li>
      </ul>

      <p class="govuk-body">You may also need the details of a workplace contact who can confirm the support you’re claiming for.</p>

      <h3 class="govuk-heading-m">Sign in and claim online</h3>

      <p class="govuk-body">You can sign in with GOV.UK One Login. You'll be able to create a GOV.UK One Login account if you do not already have one.</p>

      {{ govukButton({
        text: "Claim online",
        href: "sign-in",
        isStartButton: true
      }) }}

      <h3 class="govuk-heading-m">Claim by post</h3>

      <p class="govuk-body">Complete the paper claim form that was sent with your Access to Work decision letter to claim money from your grant by post.</p>

      <p class="govuk-body">You need to include any invoices or receipts requested in the claims form. You can send copies if you do not have the originals.</p>

      <p class="govuk-body">You can call the Access to Work helpline to get a paper claim form if you need one.</p>


      <h3 class="govuk-heading-m">If you need help with your claim</h3>

      <p class="govuk-body">Call the Access to Work helpline if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you need help with your claim</li>
        <li>you do not have the information needed to make a claim</li>
        <li>you need help with setting up your online account</li>
        <li>your grant runs out and you need more money to pay for something your decision letter says you need</li>
      </ul>


      <h4 class="govuk-heading-s">
        Access to Work helpline
      </h4>

        <p class="govuk-body">
          Telephone: 0800 121 7479
          <br>

          <a href="#" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 7479
          <br>
          British Sign Language (BSL) <a href="#" class="govuk-link">video relay service</a> if you’re on a computer - find out how to <a href="#" class="govuk-link">use the service on mobile or tablet</a>
          <br>
          Monday to Friday, 9am to 5pm
          <br>
          <a href="#" class="govuk-link">Find out about call charges</a>
        </p>

        {{ govukInsetText({
          text: "If phone calls are difficult for you (for example, because you’re deaf or hard of hearing), you can ask for all communication to be by email instead."
        }) }}

        {{ govukPagination({
          previous: {
            labelText: "After you apply for the grant",
            href: "#"
          },
          next: {
            labelText: "Renew your grant",
            href: "#"
          }
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-8">
        <a href="#" class="govuk-link">View a printable version of the whole guide</a>
        </p>

        <aside class="govuk-prototype-kit-common-templates-related-items govuk-!-margin-bottom-8" role="complementary">
          <h4 class="govuk-heading-s" id="subsection-title">
            Explore the topic
          </h4>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link govuk-!-font-weight-bold"href="#">
                  Benefits and financial support if you're looking for work
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-!-font-weight-bold"href="#">
                  Benefits and financial support if you're disabled or have a health condition
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-!-font-weight-bold"href="#">
                  Disability equipment and transport
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-!-font-weight-bold"href="#">
                  Work and disabled people
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-!-font-weight-bold"href="#">
                  Recruiting and hiring
                </a>
              </li>
              <li>
                <a class="govuk-link govuk-!-font-weight-bold"href="#">
                  Finding a job
                </a>
              </li>
            </ul>
          </nav>
        </aside>

        <h4 class="govuk-heading-s">Elsewhere on the web</h4>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Access to Work video guides with British Sign Language</a>
          </p>

    </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Easy read: get support in work if you have a disability or health condition (Access to Work)
            </a>
          </li>
          <li>
            <a href="#">
              Reasonable adjustments for workers with disabilities or health conditions
            </a>
          </li>
          <li>
            <a href="#">
              Definition of disability under the Equality Act 2010
            </a>
          </li>
          <li>
            <a href="#">
              Disability rights
            </a>
          </li>
          <li>
            <a href="#">
              Looking for work if you're disabled
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>

{% endblock %}

{% block footer %}

{{ govukFooter({
  navigation: [
    {
      title: "Services and information",
      width: "two-thirds",
      columns: 2,
      items: [
        {
          href: "#",
          text: "Benefits"
        },
        {
          href: "#",
          text: "Births, death, marriages and care"
        },
        {
          href: "#",
          text: "Business and self-employed"
        },
        {
          href: "#",
          text: "Childcare and parenting"
        },
        {
          href: "#",
          text: "Citizenship and living in the UK"
        },
        {
          href: "#",
          text: "Crime, justice and the law"
        },
        {
          href: "#",
          text: "Disabled people"
        },
        {
          href: "#",
          text: "Driving and transport"
        },
        {
          href: "#",
          text: "Education and learning"
        },
        {
          href: "#",
          text: "Employing people"
        },
        {
          href: "#",
          text: "Environment and countryside"
        },
        {
          href: "#",
          text: "Housing and local services"
        },
        {
          href: "#",
          text: "Money and tax"
        },
        {
          href: "#",
          text: "Passports, travel and living abroad"
        },
        {
          href: "#",
          text: "Visas and immigration"
        },
        {
          href: "#",
          text: "Working, jobs and pensions"
        }
      ]
    },
    {
      title: "Government activity",
      width: "one-third",
      items: [
        {
          href: "#",
          text: "Departments"
        },
        {
          href: "#",
          text: "News"
        },
        {
          href: "#",
          text: "Guidance and regulation"
        },
        {
          href: "#",
          text: "Research and statistics"
        },
        {
          href: "#",
          text: "Policy papers and consultations"
        },
        {
          href: "#",
          text: "Transparency"
        },
        {
          href: "#",
          text: "How government works"
        },
        {
          href: "#",
          text: "Get involved"
        }
      ]
    }
  ]
}) }}

{% endblock %}
