{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Continue to enter your bank or building society account details" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">

    <form class="form" action="/idv/bank-account-cri/enter-account-details" method="post">

      {% if showErrorSummary %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
              {
                  text: "Select what you would like to do",
                  href: "#post-office-id"
              }
          ]
      }) }}
      {% endif %}

<h1 class="govuk-heading-l">Continue to enter your bank or building society account details</h1>
<p class="govuk-body">Next, we’ll ask for some information about your account.</p>
<p class="govuk-body">It must be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a current account or joint current account</li>
  <li>with a UK bank or building society</li>
  <li>in your name</li>
</ul>

<p class="govuk-body">You cannot use a:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>business account</li>
  <li>savings account, including an Individual Savings Account (ISA)</li>
</ul>

<h2 class="govuk-heading-m">What to expect</h2>
<p class="govuk-body">You’ll need to tell us the:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>sort code</li>
  <li>account number</li>
  </ul>
  <p class="govuk-body">We’ll check your account name and details with your bank or building society.</p>
  <p class="govuk-body">Your name and account details must match. </p>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How we use your bank details
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">We will not save or share your account details. </p>
      <p class="govuk-body">We do not use your account details to check or take any payments.</p>
    </div>
  </details>

  <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
    Continue
    </button>
    </form>

<p class="govuk-body">
  <a href="/idv/bank-account-cri/escape" class="govuk-link govuk-link--no-visited-state">I need to prove my identity another way</a>
  </p>


{% endblock %}
