{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Confirm your details" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">

    <form class="form" action="/idv/nino-cri/enter-nino" method="post">

      <h1 class="govuk-heading-l">Check your details match with your bank or building society account</h1>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div id="enter-id" class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Name
      </dt>
      <dd class="govuk-summary-list__value">
        Joe Jeff Bloggs
       </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
      </div>
      
      <div id="enter-id" class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Sort code 
      </dt>
      <dd class="govuk-summary-list__value">
        12-34-56
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link--no-visited-state" href="/page-index/bank-account-cri/enter-account-details">
      Change<span class="govuk-visually-hidden">Sort code</span>
      </a>
      </dd>
      </div>
      
      <div id="enter-id" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
       Account number
        </dt>
        <dd class="govuk-summary-list__value">
          10011001
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link--no-visited-state" href="/page-index/bank-account-cri/enter-account-details">
        Change<span class="govuk-visually-hidden">account number</span>
        </a>
        </dd>
        </div>
      </dl>
      
      <div class="govuk-inset-text">
        We will not use your account details to check or take any payments.
      </div>
      
      
      <button id="button2" class="govuk-button govuk-visually-hidden" data-module="govuk-button">Continue</button>
      
      <button class="govuk-button govuk-!-margin-top-4" id="button--save" data-module="govuk-button">Submit details for bank check</button>
      
      <p class="govuk-body">
        <a href="/idv/bank-account-cri/escape" class="govuk-link govuk-link--no-visited-state">I need to prove my identity another way</a>
        </p>
      
      </form>
</div>
</div>


{% endblock %}
