{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Enter your account details" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/idv/bank-account-cri/check-details" method="post">

      
      <h1 class="govuk-heading-l">Enter your account details</h1>
      
      
      



  
<div class="govuk-form-group">
  <label class="govuk-label" for="sort-code">
    Sort code
  </label>

  
  
  <div id="sort-code-hint" class="govuk-hint">
    Your sort code is 6 digits long. It is 3 pairs of numbers. For example, 802650.
  </div>


  <input class="govuk-input govuk-input--width-5 govuk-input--extra-letter-spacing" id="sort-code" name="sortCode" type="text" spellcheck="false" aria-describedby="sort-code-hint" inputmode="numeric">

</div>

      
      



  
<div class="govuk-form-group">
  <label class="govuk-label" for="account-number">
    Account number
  </label>

  
  
  <div id="account-number-hint" class="govuk-hint">
    Your account number is between 6 and 8 digits long. For example, 10014069.
  </div>


  <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="account-number" name="accountNumber" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">

</div>

      

<button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
Continue
</button>
</form>
      
  

  </div>
</div>

{% endblock %}
