{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}
{% set backLink = 'true' %}

{% set title =  "Confirm your details" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/idv/address-cri/in-person/find-current-address" method="post">

      <h1 class="govuk-heading-l page-heading">
        {{ title }}
      </h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          Make sure the details you entered match the details on your photo ID. 
        </strong>
      </div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jane Elizabeth Doe"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "1 January 1982"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
          text: "I confirm my details are correct",
          type: "Submit"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
