{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Sorry, you cannot go back" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/pyi-attempt-recovery" method="post">


      
                
            <h1 class="govuk-heading-l" id="header" data-page="pyiAttemptRecovery">Sorry, you cannot go back</h1>
            <p class="govuk-body">You cannot go back if you’ve already started entering information to prove your identity online.</p>
            <h2 class="govuk-heading-m">What you can do</h2>
            <p class="govuk-body">Continue proving your identity online.</p>
          
  
            
          
        
  
  
  
  
  

  
  
  
  <button name="submitButton" class="govuk-button" data-module="govuk-button">
  Continue
  </button>
  <p class="govuk-body">
    <a target="_blank" rel="noopener noreferrer" href="https://home.account.gov.uk/contact-gov-uk-one-login?fromUrl=https%3A%2F%2Fidentity.account.gov.uk%2Fipv%2Fpage%2Fpyi-attempt-recovery" class="govuk-link">
        Contact the GOV.UK One Login team (opens in a new tab)
    </a>
</p>

    </div>
</div>

{% endblock %}