{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% block pageTitle %}
    The GOV.UK ID Check app journey
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--interruption govuk-!-padding-left-8 govuk-!-padding-top-8 govuk-!-padding-right-8">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                 

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 white-text">
                            GDS screens for GOV.UK One Login
                        </h1>

                        <p class="govuk-body govuk-!-margin-bottom-6 white-text">
                            At this point in the GOV.UK One Login journey, users will create an account and prove their identity. 
                           
                        </p>
                        
                        <p class="govuk-body govuk-!-margin-bottom-6 white-text">
                            These screen designs are owned by GDS, and are not included in this prototype. You can view the most up to date version of them in the GDS prototype.</a>
                      
                        </p>
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-6 white-text">
                            prototype password: pr0t0type
                            
                        </h3>



                        {{ govukButton({
                            text: "Continue",
                            classes: "govuk-button--inverse, govuk-button--inverse-transition",
                            href: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/authentication/create-account",
                            target: "_blank"

                           
                        }) }}
        


                        <p class="govuk-body govuk-!-margin-bottom-6 white-text">
                            You can also continue in our prototype. <a href="/idv/return-to-service" class="govuk-link govuk-link--no-visited-state" style="color: white;">This shows what users would see </a> after they have successfully created an account and proved their identity.
                            
                         </p>
                        <p class="govuk-body">
                            <a href="/index" class="govuk-link govuk-link--inverse">Go back to prototype home</a>
                        </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}