{% extends "layouts/_base-maternity.html" %}
{% set phaseBanner = 'true' %}
{% set breadcrumbs = 'false' %}

{% set title =  "Apply for Maternity Allowance" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Baby details</h2>

      








<dl class="govuk-summary-list govuk-!-margin-bottom-9">


<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Baby due date
</dt>
<dd class="govuk-summary-list__value">
17 October 2024
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Baby born
</dt>
<dd class="govuk-summary-list__value">
No
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Proof of pregnancy
</dt>
<dd class="govuk-summary-list__value">
Maternity Certificate (MAT)
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
MAT B1 provided?
</dt>
<dd class="govuk-summary-list__value">
Yes
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>

</dd>

</div>


</dl>


      <h2 class="govuk-heading-m">Employment details</h2>

      
















<dl class="govuk-summary-list govuk-!-margin-bottom-9">


<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Employment type during Test Period
</dt>
<dd class="govuk-summary-list__value">
Employed
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Employer
</dt>
<dd class="govuk-summary-list__value">
Argos
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> licence type</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Employment start date
</dt>
<dd class="govuk-summary-list__value">
12 January 2022
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Employment end date
</dt>
<dd class="govuk-summary-list__value">
Ongoing
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Have you stopped work
</dt>
<dd class="govuk-summary-list__value">
Yes
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Reason for stopping work
</dt>
<dd class="govuk-summary-list__value">
Maternity leave
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Request Maternity Allowance Period start date
</dt>
<dd class="govuk-summary-list__value">
12 November 2024
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Requested Maternity Allowance frequency
</dt>
<dd class="govuk-summary-list__value">
Every 4 weeks
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>

</dd>

</div>


</dl>


      <h2 class="govuk-heading-m">Earnings details</h2>

      

<section id="decision" class="govuk-!-margin-bottom-6">

<table class="govuk-table">
<tbody><tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    Date
  </th>
  <th class="govuk-table__header">
     Employer
    </th>
  <th class="govuk-table__header">Payslip amount (gross)</th>
</tr>


<tr class="govuk-table__row"></tr>
<tr><td scope="row" class="govuk-table__cell">
 30 June 2023
</td>
<td class="govuk-table__cell">
  Sainsbury's
</td>
<td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row"></tr>
  <tr><td scope="row" class="govuk-table__cell">
   30 July 2023
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   31 August 2023
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 September 2023
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 October 2023
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 November 2023
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 December 2023
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 January 2024
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 February 2024
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 March 2024
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 April 2024
  </td>
  <td class="govuk-table__cell">
    Sainsbury's
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 May 2024
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 June 2024
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 July 2024
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£500.00</td>
</tr>


<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">
   30 August 2024
  </td>
  <td class="govuk-table__cell">
    Argos
  </td>
  <td class="govuk-table__cell">£650.00</td>
</tr>

<tr class="govuk-table__row">
<td scope="row" class="govuk-table__cell">
 30 September 2024
</td>
<td class="govuk-table__cell">
  Argos
</td>
<td class="govuk-table__cell">£340.00</td>
</tr>



<tr class="govuk-table__row"></tr>
<tr><td scope="row" class="govuk-table__cell">
30 April 2024
</td>
<td class="govuk-table__cell">
Smith's Bakery
</td>
<td class="govuk-table__cell">£500.00</td>
<td class="govuk-table__cell"><a href="../start-a-claim/payslip-summary.html">Change</a></td>
</tr>


</tbody>
</table>


<h2 class="govuk-heading-m">Bank details</h2><dl class="govuk-summary-list govuk-!-margin-bottom-9">


<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Name on the account
</dt>
<dd class="govuk-summary-list__value">
Jane Doe
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Sort code
</dt>
<dd class="govuk-summary-list__value">
11-11-11
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Account number
</dt>
<dd class="govuk-summary-list__value">
12345678
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Building society roll number
</dt>
<dd class="govuk-summary-list__value">
123456
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>

</dd>

</div>


</dl><h2 class="govuk-heading-m">Uploaded files</h2><dl class="govuk-summary-list govuk-!-margin-bottom-9">


<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
MAT B1 form
</dt>
<dd class="govuk-summary-list__value">
link to file
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
SMP1 form
</dt>
<dd class="govuk-summary-list__value">
link to file
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>

</dd>

</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Payslips
</dt>
<dd class="govuk-summary-list__value">
Smith's Bakery<br>30 April 2024
</dd>

<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>

</dd>

</div>


</dl><h2 class="govuk-heading-m">Now send your application</h2><p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p><button type="submit" class="govuk-button" data-module="govuk-button">
Continue
</button>



























      

      

      <form method="post" novalidate=""></form>

        

        







      

    
  






  






















</table></section></div></div>

{% endblock %}
