{% extends "layouts/_base-maternity.html" %}
{% set phaseBanner = 'true' %}
{% set breadcrumbs = 'false' %}

{% set title =  "Apply for Maternity Allowance" %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application complete
        </h1>
       <!-- <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>-->
      </div>
     
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">We have sent you an SMS message to confirm your application. We will send 
        you a letter when we have made a decision about your Maternity Allowance 
        claim. We may call or write to you if we need more information.</p>

        <p class="govuk-body">If we have all the information we need, you should get a decision on your claim within 20 working days.</p>
      <h2 class="govuk-heading-m">Changes you must report</h2>
      <p class="govuk-body">
        You must tell us about changes in your circumstances that could affect your 
        Maternity Allowance claim, for example:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if your baby is born early</li>
        <li>if you go back to work early or use Keeping in Touch (KIT) days</li>
        <li>if you start Shared Parental Leave, Statutory Shared Parental Pay or another 
            benefit, or </li>
        <li>if you go abroad (you do not need to tell us about holidays abroad)</li>
      </ul>
      <p class="govuk-body">
        To learn more about these and other changes and when you must tell us about them, visit <a class="govuk-link--no-visited-state" href="#"> www.gov.uk/report-benefits-change-circumstances</a>
      </p>

      <h2 class="govuk-heading-m">If you need help</h2>
      <p class="govuk-body">Call us at the number below to report changes in your circumstance or if you need 
        help with your claim.</p>

      <p class="govuk-body"><strong>Telephone: </strong>0800 169 0283</p>
      <p class="govuk-body"><strong>Textphone: </strong>0800 169 0286</p>

      <p class="govuk-body">
        <a href="#" class="govuk-link--no-visited-state">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>


{% endblock %}
