{% extends "layouts/_base-dev-ready.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Send me a new email" %}

{% set resendEmailDetailsHtml %}
<p class="govuk-body">
    Check your junk folders. If you cannot find your security code the email address you entered may be wrong.
</p>

<p class="govuk-body">
    <a class="govuk-link" href="email-address">Enter your email address</a> again and check the right email address is entered. We will send a new code.
</p>

<p class="govuk-body">
    If you still do not receive a code, try again later.
</p>
{% endset %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{title}}</h1>

        <p class="govuk-body">
            We will send you an email with a new security code.
        </p>

        {{ govukDetails({
            summaryText: "After several attempts, I have not received an email",
            html: resendEmailDetailsHtml
        }) }}

        <form action="email-code" method="post" class="form" novalidate>
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>
{% endblock %}