{% extends "layouts/_base" %}
{% set phaseBanner = 'true' %}
{% set breadcrumbs = 'true' %}

{% set title =  "Benefits: report a change in your circumstances" %}

{% block content %}

<div class="govuk-width-container">


    <main id="content" class="govuk-main-wrapper  ">
      <span id="Top"></span>
      
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
<div class="gem-c-heading govuk-!-margin-bottom-8">

  <h1 class="gem-c-heading__text govuk-heading-xl">
    Benefits: report a change in your circumstances
</h1></div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="responsive-bottom-margin">
      <div data-module="govspeak" class="gem-c-govspeak gem-c-govspeak--direction-ltr js-disable-youtube govuk-!-margin-bottom-0" data-govspeak-module-started="true">
    
      <p>You need to report changes to your circumstances so you keep getting the right amount of benefits.</p>

<p>Your claim might be stopped or reduced if you do not report a change straight away or you give incorrect information.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>This page is also available <a href="/hysbysu-newid-amgylchiadau-budd-daliadau">in Welsh (Cymraeg)</a>.</p>
</div>

<p>If you do not report a change or a mistake, you might be paid too much. If you are, you might have to <a href="/benefit-overpayments/when-repayments-have-to-be-made">pay some of the money back</a>. You might also have to pay a £50 penalty.</p>

<div role="note" aria-label="Warning" class="application-notice help-notice">
<p>If you deliberately do not report changes, you’re committing <a href="/benefit-fraud">benefit fraud</a>.</p>
</div>

<h2 id="changes-you-need-to-report">Changes you need to report</h2>

<p>Changes can include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>changing your name or gender</li>
  <li>finding or finishing a job, or working different hours</li>
  <li>your income going up or down</li>
  <li>starting or stopping education, training or an apprenticeship</li>
  <li>moving house</li>
  <li>people moving into or out of the place you live (for example your partner, a child or lodger)</li>
  <li>the death of your partner or someone you live with</li>
  <li>having a baby</li>
  <li>starting or stopping caring for someone</li>
  <li>getting married or divorced</li>
  <li>starting or ending a civil partnership</li>
  <li>planning to go abroad for any length of time</li>
  <li>going into hospital, a care home or sheltered accommodation</li>
  <li>
    <p>any changes to your medical condition or disability</p>
  </li>
  <li>
    <p>changing your doctor</p>
  </li>
  <li>
    <p>changes to your pension, savings, investments or property</p>
  </li>
  <li>
    <p>changes to other money you get (for example student loans or grants, sick pay or money you get from a charity)</p>
  </li>
  <li>
    <p>changes to the benefits you or anyone else in your house gets</p>
  </li>
  <li>you or your partner getting back-pay (sometimes called ‘arrears’) for salary or earnings you’re owed</li>
  <li>changes to your immigration status, if you’re not a British citizen</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
  <p>If you claim Child Benefit you also need to <a href="/report-changes-child-benefit">report changes to your child’s circumstances</a>.</p>
</div>

<h3 id="reporting-a-death">Reporting a death</h3>
<p>Use the <a href="/after-a-death/organisations-you-need-to-contact-and-tell-us-once">‘Tell Us Once’ service</a> if someone dies when they’re receiving benefits. The process is different if you’re in <a rel="external" href="https://www.nidirect.gov.uk/articles/bereavement-service">Northern Ireland</a>.</p>

<h2 id="how-to-report-changes">How to report changes</h2>
<p>Who you tell depends on which benefits you get. You’ll need to report your change to more than one organisation if you get more than one benefit.</p>

<h3 id="universal-credit">Universal Credit</h3>
<p>Report changes using your <a href="/sign-in-universal-credit">Universal Credit online account</a> if you have one or contact the <a href="/universal-credit/contact-universal-credit">Universal Credit helpline</a>.</p>

<h3 id="pension-credit">Pension Credit</h3>
<p>Call the <a href="/pension-credit/change-of-circumstances">Pension Service helpline</a> or report changes by post.</p>

<h3 id="attendance-allowance">Attendance Allowance</h3>
<p>Report changes using your <a href="/transition/sign-in-with-govuk-one-login">DWP online account</a> or call the <a href="/attendance-allowance/report-change-in-circumstances">Attendance Allowance helpline</a>.</p>

<h3 id="disability-benefits">Disability benefits</h3>
<p>Call the <a href="/disability-benefits-helpline">Disability Service Centre</a> to report changes if you get:</p>

<ul>
  <li>Disability Living Allowance (DLA)</li>
  <li>Personal Independence Payment (PIP).</li>
</ul>

<h3 id="carers-allowance">Carer’s Allowance</h3>
<p><a href="/carers-allowance-report-change">Report a change online</a> or call the <a href="/carers-allowance-unit">Carer’s Allowance Unit</a>.</p>

<h3 id="housing-benefit">Housing Benefit</h3>
<p>Tell <a href="/find-local-council">your local council</a> about changes if you get Housing Benefit.</p>

<h3 id="child-benefit">Child Benefit</h3>
<p>Report changes using the <a href="/government/publications/child-benefit-general-enquiry">Child Benefit online service</a> or call or write to the <a href="/contact/hm-revenue-customs/child-benefit">Child Benefit Office</a>.</p>

<h3 id="all-other-benefits">All other benefits</h3>
<p>Call <a href="/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus</a> to report changes. You need to have your National Insurance number when you call.</p>


</div>
    </div>
  </div>
  
<div class="govuk-grid-column-one-third sidebar-navigation">
  
<div class="gem-c-contextual-sidebar govuk-!-display-none-print">

      <div data-module="ga4-link-tracker" class="gem-c-related-navigation govuk-!-display-none-print" data-ga4-link-tracker-module-started="true">
      <h2 id="related-nav-related_items-35dd8e31" class="gem-c-related-navigation__main-heading">
        Related content
      </h2>



      <nav class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-35dd8e31" data-module="gem-toggle" data-gem-toggle-module-started="true">


  <ul class="gem-c-related-navigation__link-list">
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/state-pension">The basic State Pension</a></li>

  </ul>
</nav>

</div>


</div>
</div>

</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
  <div class="gem-c-contextual-footer govuk-!-display-none-print" dir="ltr">
      <div data-module="ga4-link-tracker" class="gem-c-related-navigation govuk-!-display-none-print" data-ga4-link-tracker-module-started="true">



      <nav class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-ea196480" data-module="gem-toggle" data-gem-toggle-module-started="true">

    <h2 id="related-nav-topics-ea196480" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

  <ul class="gem-c-related-navigation__link-list">
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;contextual footer&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Explore the topic&quot;}" href="/browse/benefits/manage-your-benefit">Manage an existing benefit, payment or claim</a></li>

  </ul>
</nav>

</div>
</div>

    </div>
  </div>


    </main>
  </div>
{% endblock %}