{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}
{% set backLink = 'true' %}

{% set title =  "How to prove your identity at a Post Office" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/f2f-cri/choose-id/answer" method="post">

      {% if showErrorSummary %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
              {
                  text: "Choose which photo ID you can take to a Post Office",
                  href: "#in-person-choose-id"
              }
          ]
      }) }}
      {% endif %}

    <h1 class="govuk-heading-l page-heading">
      {{ title }}
    </h1>

    <p class="govuk-body">You cannot use a photocopy or digital copy of your photo ID.</p>

    <p class="govuk-body govuk-!-margin-bottom-6">Your photo ID must not have expired.</p>

    {% if showErrorSummary %}
    {{ govukRadios({
      name: "in-person-choose-id", 
      fieldset: {
        legend: {
        }
      },
        items: [
          {
            value: "UK passport",
            text: "UK passport",
            hint: {
             text: "If your UK passport has expired, you can still use it to prove your identity up to 18 months after its expiry date."
            }
            
          },
          {
            value: "Non-UK passport",
            text: "Non-UK passport"

          },
          {
           value: "UK photocard driving licence",
           text: "UK photocard driving licence",
           hint: {
             text: "The address on your driving licence must be the same as your current address."
           }
         },
          {
            value: "Biometric residence permit (BRP)",
            text: "UK biometric residence permit (BRP)",
            hint: {
              text: "You might have a BRP if you have a visa for longer than 6 months or indefinite leave to remain. You cannot use a UK Frontier Worker permit (FWP) or a UK biometric residence card (BRC), also called a UK residence card."
             }
          },
          {
            value: "European Union (EU) photocard driving licence",
            text: "European Union (EU) photocard driving licence",
            hint: {
             text: "This must be a plastic photocard, not a paper or handwritten licence. If it has your address on it, it must be your current address."
            }
          },
          {
            value: "National identity card from a European Economic Area (EEA) country",
            text: "National identity card from a European Economic Area (EEA) country",
            hint: {
             text: "This must be a plastic photocard, not a paper or handwritten card. If it has your address on it, it must be your current address."
            }
          },
          {
           divider: "or"
         },
         {
           value: "I do not have any of these documents",
           text: "I do not have any of these documents"
          }
          ],
          errorMessage: {
              text: "Choose a photo ID you can take to a Post Office"
          }
      }) }}
      {% else %}
      {{ govukRadios({
        name: "in-person-choose-id", 
        fieldset: {
          legend: {
          }
        },
          items: [
            {
              value: "UK passport",
              text: "UK passport",
              hint: {
               text: "If your UK passport has expired, you can still use it to prove your identity up to 18 months after its expiry date."
              }
              
            },
            {
              value: "Non-UK passport",
              text: "Non-UK passport"
  
            },
            {
             value: "UK photocard driving licence",
             text: "UK photocard driving licence",
             hint: {
               text: "The address on your driving licence must be the same as your current address."
             }
           },
            {
              value: "Biometric residence permit (BRP)",
              text: "UK biometric residence permit (BRP)",
              hint: {
                text: "You might have a BRP if you have a visa for longer than 6 months or indefinite leave to remain. You cannot use a UK Frontier Worker permit (FWP) or a UK biometric residence card (BRC), also called a UK residence card."
               }
            },
            {
              value: "European Union (EU) photocard driving licence",
              text: "European Union (EU) photocard driving licence",
              hint: {
               text: "This must be a plastic photocard, not a paper or handwritten licence. If it has your address on it, it must be your current address."
              }
            },
            {
              value: "National identity card from a European Economic Area (EEA) country",
              text: "National identity card from a European Economic Area (EEA) country",
              hint: {
               text: "This must be a plastic photocard, not a paper or handwritten card. If it has your address on it, it must be your current address."
              }
            },
            {
             divider: "or"
           },
           {
             value: "I do not have any of these documents",
             text: "I do not have any of these documents"
            }
            ]
        }) }}
    {% endif %}

 
      <button class="govuk-button" data-module="govuk-button">Continue</button>


  </form>
</div>
</div>


{% endblock %}
