{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}
{% set backLink = 'true' %}

{% set title =  "Find a Post Office where you can prove your identity" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="choose-post-office" method="post">


        <h1 class="govuk-heading-l">{{ title }}</h1>

    
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label govuk-label--m">
            Enter a UK postcode
          </label>
          <div class="govuk-hint">For example, SW1A 2AA</div>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="address-postcode-current" type="text" autocomplete="postal-code">
        </div>
      </fieldset>
    
      <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>
     

        </form>

    </div>
  </div>

{% endblock %}
