{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "How to prove your identity at a Post Office" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="choose-id" method="post">

    <h1 class="govuk-heading-l" id="landingPageTitle">How to prove your identity at a Post Office</h1>
    
    <ol class="post-office-list">
      <li>
        <div class="custom-inline-elements">
          <p class="circle">1</p>
          <h2 class="govuk-heading-m" id="firstStepTitle">Get your Post Office customer letter from GOV.UK</h2>
        </div>
        <p class="instruction" id="firstStepOne">Enter the details from your photo ID on GOV.UK.</p>
        <p class="instruction" id="firstStepTwo">Then select which Post Office you want to take your photo ID to.</p> 
        <p class="instruction" id="firstStepThree">We'll send you a confirmation email with a link to download your Post Office customer letter.</p>
      </li>

      <li>
        <div class="custom-inline-elements">
          <p class="circle">2</p>
          <h2 class="govuk-heading-m" id="firstStepTitle">Go to the Post Office</h2>
        </div>
        <p class="instruction" id="secondStepOne">Take your Post Office customer letter and photo ID to your chosen Post Office. Or go to any <a href="https://www.postoffice.co.uk/identity/in-branch-verification-service#bf-full-width" target="_blank"> Post Office that offers in-branch verification (opens in new tab).</a></p>
        <p class="instruction" id="secondStepTwo">A member of Post Office staff will scan your photo ID and take a photo of you. </p>

      <div class="govuk-inset-text">
  You must go to the Post Office within 10 days of getting your confirmation email.
</div>
      </li>
      <li>
        <div class="custom-inline-elements">
          <p class="circle">3</p>
          <h2 class="govuk-heading-m" id="firstStepTitle">Wait for your result</h2>
        </div>
        <p class="instruction" id="thirdStepOne">You'll get an email about the result of your identity check - usually within a day of going to the Post Office.</p>
      </li>
    </ol>
    
<button name="landingPageContinue" data-prevent-double-click="true" class="govuk-button button" data-module="govuk-button" id="landingPageContinue">
  Continue
</button>

<p class="govuk-!-padding-bottom-5">
  <a href="/idv/f2f-another-way" class="govuk-link govuk-link--no-visited-state" id="confirmIdentityAnotherWay">I want to prove my identity another way</a>
</p>

    </form>
  </div>
</div>

{% endblock %}