{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% set htmlClasses = "app-email" %}
{% set bodyClasses = "app-email__body" %}
{% block footer %}{% endblock %}

{% block pageTitle %}
ID check outcome email - GOV.UK One Login
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Face to face at a post office</span>
  ID check outcome email
</h1>

<div class="email-message">
  <table class="email-message-meta">
    <tbody>
          <tr>
            <th scope="row">From</th>
            <td>
             GOV.UK One Login
            </td>
          </tr>
      
        <tr>
          <th scope="row">To</th>
          <td>
            <span class="placeholder-no-brackets background: #fd0;">Email address</span>
          </td>
        </tr>
      
      <tr class="email-message-meta">
        <th scope="row">Subject</th>
        <td>
          You have an outcome for your identity check
        </td>
      </tr>
    </tbody>
  </table>
  <div class="email-message-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">

    <p>Hi Jane Doe,</p>

    <p>You recently took your driving licence, which expires on 31 December 2024, to the Post Office at 4:43pm on 15 September 2023.</p>
  
    <p>The Post Office branch shown on your customer letter is Brixton Hill, 106 Brixton Hill, SW2 1AH.</p>
  
    <p class="govuk-body">
      To view the result of your identity check, you need to sign in to your GOV.UK One Login: <a href="/idv/authentication/in-person-return/create-account" class="govuk-link">https://return.account.gov.uk/</a>
     </p>

     <p>Then you'll be sent to the service you want to use.</p>

     <p>After you continue, you'll be able to view the result of your identity check.</p>
  
     <p class="govuk-body">
      If you need help, contact us: <a href="#" class="govuk-link">https://signin.account.gov.uk/contact-us</a>
     </p>
     <p>Regards,</p>
     <p>GOV.UK One Login team</p>
     <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">

<p class="govuk-body govuk-!-margin-bottom-6">Do not reply to this email - it’s an automatic message from an unmonitored account.</p>
  </div>
</div>

{% endblock %}


