{% extends "layouts/main.html" %}

{% block pageTitle %}
Create your password - GOV.UK One Login
{% endblock %}



{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}
{% endblock %}

{% block content %}
<style>
.govuk-input__wrapper {
    display: flex;
}

.govuk-password-input__input::-ms-reveal {
  display: none;
}

.govuk-password-input__toggle {
  margin-top: 5px;
  margin-bottom: 0;
}
.govuk-password-input__toggle[hidden] {
  display: none;
}
@media (min-width: 20em) {
  .govuk-password-input__toggle {
    width: auto;
    flex-shrink: 0;
    flex-basis: 5em;
    margin-top: 0;
    margin-left: 5px;
  }
}

}</style>

<main class="govuk-main-wrapper" id="main-content">
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="get-security-code" method="post">

      <h1 class="govuk-heading-l">Create your password</h1>

        <input type="hidden" name="_csrf" value="R5llNOhf-XOT-AHiIgPkphEHnEIHIHcEh0Wo">

        <div class="govuk-form-group govuk-password-input" data-module="govuk-password-input" data-govuk-password-input-init="">
          <label class="govuk-label" for="password">
            Enter a password
          </label>
          <div id="password-hint" class="govuk-hint">
            It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as ‘password’ or a sequence of numbers.
          </div>
          <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input class="govuk-input govuk-password-input__input govuk-js-password-input-input" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password" autocapitalize="none"><div class="govuk-password-input__sr-status govuk-visually-hidden" aria-live="polite"></div>
            <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password" aria-label="Show password" data-govuk-button-init="">
              Show
            </button>
          </div>
        </div>

        <div class="govuk-form-group govuk-password-input" data-module="govuk-password-input" data-govuk-password-input-init="">
          <label class="govuk-label" for="confirm-password">
            Re-type password
          </label>
          <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input class="govuk-input govuk-password-input__input govuk-js-password-input-input" id="confirm-password" name="confirm-password" type="password" spellcheck="false" autocomplete="new-password" autocapitalize="none"><div class="govuk-password-input__sr-status govuk-visually-hidden" aria-live="polite"></div>
            <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="confirm-password" aria-label="Show password" data-govuk-button-init="">
              Show
            </button>
          </div>
        </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How to create a secure password
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
                <p class="govuk-body">You should use a password that you do not use for anything else.</p>
              </div>
            </details>
            
        
        
          <button class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
            Continue
          </button>
      
      </form>
    </div>
  </div>

        </main>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/showPassword.js"></script>
  <script>
    // Initialize the ShowPassword module
    var showPasswordElements = document.querySelectorAll('[data-module="show-password"]');
    for (var i = 0; i < showPasswordElements.length; i++) {
      new window.GOVUK.Modules.ShowPassword(showPasswordElements[i]).init();
    }
  </script>
{% endblock %}

