{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your mobile phone number - GOV.UK One Login
{% endblock %}



{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper" id="main-content">
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-phone" method="post">

      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Enter your mobile phone number</h1>

      <p class="govuk-body">We will send a 6 digit security code to the number you give us.</p>

      <p class="govuk-body">You must use a UK mobile phone number.</p>

      
        <div class="govuk-form-group">
          <label class="govuk-label" for="phoneNumber"> UK mobile phone number </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="phoneNumber" name="phoneNumber" type="tel" autocomplete="tel">
        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             I do not have a UK mobile phone number
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              You need to <a href="/page-index/authentication/create-account/get-security-code" class="govuk-link govuk-link--no-visited-state">choose another way to get security codes</a>.
            </p>
          </div>
        </details>
       

        <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
          Continue
      </button>
      
      </form>
    </div>
  </div>


        </main>

{% endblock %}


{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}