{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'false' %}

{% set title =  "Enter your email address" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="" method="post" novalidate>

            {{ govukInput({
            label: {
                html: title,
                classes: "govuk-label--l",
                isPageHeading: true
            },
            hint: {
                text: "We'll send a security code to this email address"
            },
            id: "filter-email-address",
            name: "filter-email-address",
            type: "email",
            autocomplete: "email",
            spellcheck: false
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}