{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Prove your identity another way" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/index" method="post">

            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <p class="govuk-body">
                Based on what you told us, you cannot prove your identity online with GOV.UK One Login.
            </p>

            <h2 class="govuk-heading-m">
                What you can do
            </h2>

            <p class="govuk-body">
                Continue to the service you were trying to use and look for other ways to prove your identity.
            </p>
            
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        
        <p class="govuk-!-padding-bottom-5">
            <a href="#" class="govuk-link govuk-link--no-visited-state" id="confirmIdentityAnotherWay">Contact the GOV.UK account team (opens in a new tab)</a>
        </p>


    </div>
</div>

{% endblock%}