{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Tell us if you have one of the following types of photo ID" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/id-screener/answer" method="post">


      
                
            <h1 class="govuk-heading-l">Tell us if you have one of the following types of photo ID</h1>
            <p>This will help us find the best way for you to prove your identity.</p>
            <p>You can use one of the following types of photo ID:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>UK photocard driving licence</li>
                <li>UK passport</li>
                <li>non-UK passport with a biometric chip</li>
                <li>UK biometric residence permit (BRP)</li>
                <li>UK biometric residence card (BRC)</li>
                <li>UK Frontier Worker permit (FWP)</li>
            </ul>
            <div class="govuk-inset-text">
              You can use an expired BRP, BRC or FWP up to 18 months after its expiry date if you have a smartphone.
            </div>
  
            <p class="govuk-body">Find out more about the different types of <a href="/page-index/ipv-core/types-of-photo-id" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">photo ID we accept (opens in a new tab)</a>.</p>
        
          
        
  
  
  
  
  
  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset" aria-describedby="have-photo-id-hint">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
        Do you have any of these types of photo ID?
      
      </legend>
      
    
      <div id="have-photo-id-hint" class="govuk-hint">
        You’ll need to have your photo ID ready. You cannot use a photocopy or digital copy.
      </div>
    
    
      <div class="govuk-radios" data-module="govuk-radios">
        
        
          
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-photo-id" name="have-photo-id" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="have-photo-id">
            Yes
          </label>
          
        </div>
        
      
        
          
      
        
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-photo-id-2" name="have-photo-id" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="have-photo-id-2">
            No
          </label>
          
        </div>
        
      
        
        
      </div>
    
    </fieldset>
  
  </div>
  
  
  
  <button name="submitButton" class="govuk-button" data-module="govuk-button">
  Continue
  </button>
  
  </form>

    </div>
</div>

{% endblock %}