{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Find another way to prove your identity" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/idv/find-another-way-answer-2" method="post">

          <h1 class="govuk-heading-l">
              {{ title }}
          </h1>
     

  
     


            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                
                  What would you like to do?
                
                </legend>
                
              
                <div class="govuk-radios" data-module="govuk-radios">
                  
                  
                    
                
                  
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="exit1" name="no-photo-id-triage-exit-2" type="radio" value="Continue to the service">
                    <label class="govuk-label govuk-radios__label" for="exit1">
                      Continue to the service you were trying to use to look for other ways to prove your identity
                    </label>
                    
                  </div>
                  
                
                  
                    
                
                  
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="exit2" name="no-photo-id-triage-exit-2" type="radio" value="Try proving">
                    <label class="govuk-label govuk-radios__label" for="exit2">
                      Try proving your identity with GOV.UK One Login again
                    </label>
                    
                  </div>
                  
                
                  
                    
                
                  
                  
                </div>
              
              </fieldset>
            
            </div>
          
          <button class="govuk-button" data-module="govuk-button">
              Continue
          </button>

      </form>
      
      <p class="govuk-!-padding-bottom-5">
          <a href="#" class="govuk-link govuk-link--no-visited-state" id="confirmIdentityAnotherWay">Contact the GOV.UK account team (opens in a new tab)</a>
      </p>


  </div>
</div>

{% endblock %}
