{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "Find another way to prove your identity" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/kbv-another-way-answer" method="post">

            {% if showErrorSummary %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Select what you would like to do",
                        href: "#kbv-another-way"
                    }
                ]
            }) }}
            {% endif %}
            
            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <p class="govuk-body">
                We were not able to complete your identity check using security questions.
            </p>

            <h2 class="govuk-heading-m">
                What you can do
            </h2>

            <p class="govuk-body">
                Based on what you’ve told us, you have a photo ID you can use to prove your identity.
            </p>

            <p class="govuk-body">
                You can do this online with the GOV.UK ID Check app if you have:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>an iPhone 7 or higher</li>
                <li>an Android phone (for example, Samsung or Google Pixel)</li>
            </ul>

            <p class="govuk-body">
                You can also prove your identity at a Post Office. This option takes longer. You’ll usually get an outcome within a day of going to the Post Office.
            </p>

            {% if showErrorSummary %}
            {{ govukRadios({
                name: "kbv-another-way",
                fieldset: {
                legend: {
                    text: "What would you like to do?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
                },
                items: [
                {
                    value: "id check app",
                    text: "Prove your identity with the GOV.UK ID Check app",
                    hint: {
                    text: "You’ll be shown how to download and use the app."
                    }
                },
                {
                    value: "post office",
                    text: "Prove your identity at a Post Office",
                    hint: {
                    text: "You’ll be asked to enter details from your photo ID on GOV.UK first."
                    }
                }
                ],
                errorMessage: {
                    text: "Select what you would like to do"
                }
            }) }}
            {% else %}
            {{ govukRadios({
                name: "kbv-another-way",
                fieldset: {
                legend: {
                    text: "What would you like to do?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
                },
                items: [
                {
                    value: "id check app",
                    text: "Prove your identity with the GOV.UK ID Check app",
                    hint: {
                    text: "You’ll be shown how to download and use the app."
                    }
                },
                {
                    value: "post office",
                    text: "Prove your identity at a Post Office",
                    hint: {
                    text: "You’ll be asked to enter details from your photo ID on GOV.UK first."
                    }
                }
                ]
            }) }}
            {% endif %}

            {{ govukButton({
                text: "Continue",
                type: "Submit"
            }) }}

            <p class="govuk-body">
                <a href="#" class="govuk-link">Contact the GOV.UK account team (opens in a new tab)</a>
            </p>

        </form>

    </div>
</div>

{% endblock%}