{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Return to service - GOV.UK One Login
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
        



{% if (data['choose-service-line'] == "repay") %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Returning you to Repay and manage benefit money you owe
    </h1>

    <div class="hods-loading-spinner">
      <div
        class="hods-loading-spinner__spinner"
        aria-live="polite"
        role="status"
      ></div>
      <div class="hods-loading-spinner__content">
        <p>Please wait</p>
      </div>
    </div>

  </div>
</div>

</main>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/service-pages-routes/repay/account-home?repay=true" method="post">

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Next step
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
      
        <p class="govuk-body">In the live journey, the user will be automatically redirected.</p>

        <button class="govuk-button govuk-button--transition" data-module="govuk-button">Continue</button>
      </form>
      </div>
    </div>

<div class="govuk-!-padding-bottom-7"></div>

</div>
</div>
    </div>
  {% endif %}


  {% if (data['choose-service-line'] == "maternity") %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <h1 class="govuk-heading-l">
        Returning you to Maternity Allowance
      </h1>
  
      <div class="hods-loading-spinner">
        <div
          class="hods-loading-spinner__spinner"
          aria-live="polite"
          role="status"
        ></div>
        <div class="hods-loading-spinner__content">
          <p>Please wait</p>
        </div>
      </div>
  
    </div>
  </div>
  
  </main>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form class="form" action="/service-pages-routes/maternity-allowance/task-list?maternity=true" method="post">
  
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
  
      <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Next step
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
        
          <p class="govuk-body">In the live journey, the user will be automatically redirected.</p>
  
          <button class="govuk-button govuk-button--transition" data-module="govuk-button">Continue</button>
        </form>
        </div>
      </div>
  
  <div class="govuk-!-padding-bottom-7"></div>
  
  </div>
  </div>
      </div>
    {% endif %}



    {% if (data['choose-service-line'] == "cview") %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
        <h1 class="govuk-heading-l">
          Returning you to Customer View
        </h1>
    
        <div class="hods-loading-spinner">
          <div
            class="hods-loading-spinner__spinner"
            aria-live="polite"
            role="status"
          ></div>
          <div class="hods-loading-spinner__content">
            <p>Please wait</p>
          </div>
        </div>
    
      </div>
    </div>
    
    </main>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
        <form class="form" action="/service-pages-routes/customer-view/account-home?cview=true" method="post">
    
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    
        <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Next step
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
          
            <p class="govuk-body">In the live journey, the user will be automatically redirected.</p>
    
            <button class="govuk-button govuk-button--transition" data-module="govuk-button">Continue</button>
          </form>
          </div>
        </div>
    
    <div class="govuk-!-padding-bottom-7"></div>
    
    </div>
    </div>
        </div>
      {% endif %}


{% endblock %}


{% block footer %}

{% endblock %}