{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Prove your identity" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <p class="govuk-body">
                You need to prove your identity to use this service.
            </p> 

            <p class="govuk-body">
                You only need to provide this information once.
            </p>

            <p class="govuk-body">
                You’ll need:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a valid photo ID, such as your passport or driving licence</li>
                <li>details of your home address for the past 5 years</li>
            </ul>

            <p class="govuk-body">
                We’ll only use this information to confirm your identity.
            </p>

            {{ govukButton({
                text: "Start now",
                href: "/"
            }) }}

    </div>

{% endblock %}