{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "You’ve created your GOV.UK One Login" %}

{% set userJourneyUrl -%}
    {% if data['userJourney'] === 'idv' %}
        /ol-credential-create-and-signin/pyi/prove-your-identity
    {% elif data['userJourney'] == 'oidvMedium' %}
        /transition/your-sign-in-details-have-been-updated
    {% else %}
        /ol-credential-create-and-signin/sign-in-or-create
    {% endif %}
{% endset %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>

            <p class="govuk-body">
                Now continue to use the service.
            </p>            

            {{ govukButton({
                text: "Continue",
                href: userJourneyUrl | trim
            }) }}

    </div>

{% endblock %}