{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% block pageTitle %}
    The GOV.UK ID Check app journey
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--interruption govuk-!-padding-left-8 govuk-!-padding-top-8 govuk-!-padding-right-8">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form class="form" action="/idv/ipv-core/proved-identity" method="post">

                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 white-text">
                            The GOV.UK One Login journey
                        </h1>

                        <p class="govuk-body govuk-!-margin-bottom-6 white-text">
                           Because as DWP we do not own the screens in the GOV.UK One Login journey we decided to keep them separate from our work. This way we ensure that the journey is always up to date.
                           
                        </p>
                        
                        <p class="govuk-body govuk-!-margin-bottom-6 white-text">
                            The starting point for GOV.UK One Login account creation and ID check <a href="https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/authentication/create-account" target="_blank" class="govuk-link govuk-link--no-visited-state" style="color: white;">can be found here in their prototype:</a>
                      
                        </p>
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-6 white-text">
                            prototype password: pr0t0type
                            
                         </p>


                         <p class="govuk-body govuk-!-margin-bottom-6 white-text">
                            What follows is what users see after they successfully proved their identity.
                            
                         </p>

                        {{ govukButton({
                            text: "Continue",
                            classes: "govuk-button--inverse, govuk-button--inverse-transition",
                            type: "Submit"
                        }) }}
        
                        <p class="govuk-body">
                            <a href="/index" class="govuk-link govuk-link--inverse">Go back to prototype home</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}