{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
    You're about to leave the app
{% endblock %}

{% block content %}

<div class="mobile-frame">

    <!-- status bar -->
    <img src="/public/images/status-bar.svg" alt="Logo" id="status-bar">

    <!-- mobile-body -->
    <div class="mobile-body">

    <form class="form" action="/find-another-way-journey-answer" method="post">
    
        <!--Popup window -->
        <div id="govuk-app-modal-overlay--leaving">
        <div class="govuk-app-modal-container--leaving">
            <div class="header">
            <div class="left">
                <a href="javascript:history.go(-1)" class="govuk-app-link">Cancel</a>
            </div>
            <div class="right">
            
            </div>
            </div>
            <div class="govuk-app-modal-content">
            
            <div class="leaving-app-container">
                <h1 class="govuk-app-heading-l govuk-app-margin-bottom-m govuk-app-margin-top-m" style="text-align: center;">
                You're about to leave the app
                </h1>
                <p class="govuk-app-body govuk-app-margin-bottom-m" style="text-align: center;">You're about to confirm your identity another way on the GOV.UK website. This will delete any progress you've made in the app.</p>
                    
        <div class="button-container">
        
                <button type="submit" class="govuk-app-button-default" data-module="govuk-button">
                    Confirm identity another way
                </button>

                
                </div>

            </div>
                
            </div>
            
        </div>
        
        </div>

        <!-- End of Popup window -->

    </div>
</div>

{% endblock %}