{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
How to scan the chip in your photo ID
{% endblock %}


{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="mobile-frame">

  <!-- status bar -->
  <img src="/public/images/status-bar.svg" alt="Logo" id="status-bar">

  <!-- mobile-body -->
  <div class="mobile-body">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <form class="form" action="passport-scan-successful" method="post">

        <a href="scan-passport-start" class="govuk-app-back-link">Back</a>
        <h1 class="govuk-app-heading-l govuk-app-margin-bottom-s govuk-app-margin-top-l">
          How to scan the chip in your photo ID
        </h1>

        <p class="govuk-app-body govuk-app-margin-bottom-xl">Put your phone on top of your photo ID so that they are touching.</p>


        <div class="svg-animation-container govuk-app-margin-top-xl">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/1.svg" class="svg-item" id="how-to-scan-svg1">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/2.svg" class="svg-item" id="how-to-scan-svg2">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/3.svg" class="svg-item" id="how-to-scan-svg3">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/4.svg" class="svg-item" id="how-to-scan-svg4">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/5.svg" class="svg-item" id="how-to-scan-svg5">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/6.svg" class="svg-item" id="how-to-scan-svg6">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/7.svg" class="svg-item" id="how-to-scan-svg7">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/8.svg" class="svg-item" id="how-to-scan-svg8">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/9.svg" class="svg-item" id="how-to-scan-svg9">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/10.svg" class="svg-item" id="how-to-scan-svg10">
          <img src="/public/images/document-checking-app/passport/svg-animation/how-to-scan/11.svg" class="svg-item" id="how-to-scan-svg11">
        </div>

        <div class="button-container">
        <button type="submit" class="govuk-app-button-default" data-module="govuk-button">
         Start
        </button>
      </div>

        </form>
      </div>
    </div>

    
  </div>
</div>

{% endblock %}







