{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Capture successful
{% endblock %}


{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="mobile-frame">

  <!-- status bar -->
  <img src="/public/images/status-bar.svg" alt="Logo" id="status-bar">

  <!-- mobile-body -->
  <div class="mobile-body">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <form class="form" id="captureForm" action="scan-passport-start" method="post">

          <a href="photograph-passport-start" class="govuk-app-back-link">Back</a>
        <h1 class="govuk-app-heading-l govuk-app-margin-bottom-s govuk-app-margin-top-l">
          Your capture was successful
        </h1>

        <p class="govuk-app-body govuk-app-margin-bottom-xl">You can continue to the next step.</p>

        <div class="success-icon-container" id="successIcon" style="display: none;">
          <img src="/public/images/document-checking-app/success.svg" width="162" height="159" alt="">
      </div>

        <div class="illustration-container">
          <img class="app-illustration" src="/public/images/document-checking-app/passport/photo-capture-check.png">
        </div>
        
        <div class="button-container">
          <button type="submit" id="continueButton" class="govuk-app-button-default" data-module="govuk-button">
              Continue
          </button>
      </div>


        </form>
      </div>
    </div>

    
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script>
   document.getElementById('captureForm').addEventListener('submit', function(event) {
    // Prevent the form from submitting immediately
    event.preventDefault();
    
    // Display the success icon
    document.getElementById('successIcon').style.display = 'block';
    
    // Add a delay before redirecting
    setTimeout(function() {
        // Submit the form
        document.getElementById('captureForm').submit();
    }, 600); // 2000 milliseconds (2 seconds) delay before redirection
});
  </script>
{% endblock %}








