{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Sorry, we could not sign you in with GOV.UK One Login" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            <p class="govuk-body">
               You can still  <a class="govuk-link" href="#">sign in with your security code</a> if you have been sent one from DWP(DfC in Northern Ireland).
            </p>
            <p class="govuk-body">
               If you need further help signing in, contact Debt Management.
             </p>

             <h2 class="govuk-heading-m">
               If you live in Great Britain:
            </h2>
            <p class="govuk-body">
                Telephone: 0800 916 0647
              </p>
              <p class="govuk-body">
                Textphone: 0800 916 0651
              </p>
              <p class="govuk-body">
               Monday to Friday, 8am to 7:30pm (closed on public holidays)
              </p>
              <p class="govuk-body">
               <a class="govuk-link" href="#">Find out about call charges</a>
               </p>



               <h2 class="govuk-heading-m">
                If you live in Northern Ireland:
             </h2>
             <p class="govuk-body">
                 Telephone: 0800 587 1322
               </p>
               <p class="govuk-body">
                 Textphone: 0800 587 2986 (for deaf or hard of hearing users and customers with speech difficulties)
               </p>
               <p class="govuk-body">
                Monday to Friday, 9am to 4pm (closed on public holidays)
               </p>
               <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
                </p>

    </div>

{% endblock %}
