{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Sorry, you need to access this service another way" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            <p class="govuk-body">
              This could be because:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                you were unable to prove your identity with GOV.UK One Login
              </li>
              <li>
                you chose not to use GOV.UK One Login
              </li>
              <li>
                the details you provided do not match DWP records
              </li>
            </ul>


             <h3 class="govuk-heading-m">
              Other ways to access this service
            </h3>
            <p class="govuk-body">
              Service specific information about how the user can continue, and any contact information for the service
              </p>
             



    </div>

{% endblock %}
