{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Proving your identity with GOV.UK One Login - GOV.UK" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/pyi-attempt-recovery" method="post">




            <h1 class="govuk-heading-l" id="header" data-page="pyiAttemptRecovery">
                Proving your identity with GOV.UK One Login</h1>
            <p class="govuk-body"> You only need to prove your identity once. If you have already proved your identity with GOV.UK One Login you will be able to continue to the service you want to use.</p>
            <h2 class="govuk-heading-m">
              How to prove your identity with GOV.UK One Login</h2>
            <p class="govuk-body">GOV.UK One Login will ask you questions to find the best way for you to prove your identity.

<br><br>You may have the option to:
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                       download the GOV.UK One Login app on your smartphone
                    </li>
                    <li>
                       
answer security questions online
                    </li>
                       <li>
                       
verify your ID at the Post Office
                    </li>
                  </ul>
</p>

                  <h3 class="govuk-heading-s">
                   	
You will need:</h3>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                          a valid photo ID such as a passport or driving licence
                        </li>
                    
                         or
    <li>
your bank and building society details
                        </li>
                      </ul>
            </p>


        


  <button name="submitButton" class="govuk-button" data-module="govuk-button">
  Continue
  </button>


    </div>
</div>

{% endblock %}