{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Sorry, you cannot use your GOV.UK One Login to access this service currently" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{title}}
            </h1>
  <h2 class="govuk-heading-m">
               What you can do next
            </h2>
            <p class="govuk-body">
            Service specific contact info
  </p>

             
             



    </div>

{% endblock %}
