{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Sorry, you cannot currently use your GOV.UK One Login to access this service" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{title}}
            </h1>
  <h2 class="govuk-heading-m">
               What you can do next
            </h2>
            <p class="govuk-body">
          You can contact the service another way. Tell them you got a message saying that you cannot use your GOV.UK One Login.
  </p>

              <p class="govuk-body">
           <a class="govuk-link" href="#">Search on GOV.UK  </a>
for contact details of the service you want to use.  </p>
           
             



    </div>

{% endblock %}
