{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Sorry, there is a problem with this service" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            <p class="govuk-body">
                Try again later.
            </p>

            <p class="govuk-body">
                If you are still unable to access the service, find out how to contact the service from the <a class="govuk-link" href="https://www.gov.uk/">GOV.UK homepage</a>.
            </p>

    </div>

{% endblock %}
