{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}
{% set title =  "When did you open your current account?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/idv/kbv-cri/experian/no-photo-id/started-phone-contract" method="post">


      

      



<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="current-account-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      When did you open your current account?
    </h1>
  
  </legend>
  

  <div id="current-account-hint" class="govuk-hint">
    Think about your current account only. This does not include any joint, business or saving accounts you might have.
  </div>


  <div class="govuk-radios" data-module="govuk-radios">
    
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="current-account" name="current-account" type="radio" value="04/2017">
      <label class="govuk-label govuk-radios__label" for="current-account">
        04/2017
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="current-account-2" name="current-account" type="radio" value="10/2017">
      <label class="govuk-label govuk-radios__label" for="current-account-2">
        10/2017
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="current-account-3" name="current-account" type="radio" value="03/2021">
      <label class="govuk-label govuk-radios__label" for="current-account-3">
        03/2021
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="current-account-4" name="current-account" type="radio" value="01/2021">
      <label class="govuk-label govuk-radios__label" for="current-account-4">
        01/2021
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="current-account-5" name="current-account" type="radio" value="NONE OF THE ABOVE / DOES NOT APPLY">
      <label class="govuk-label govuk-radios__label" for="current-account-5">
        NONE OF THE ABOVE / DOES NOT APPLY
      </label>
      
    </div>
    
  
    
    
  </div>

</fieldset>

</div>


    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p><a class="govuk-link govuk-link--no-visited-state" href="/idv/kbv-cri/experian/no-photo-id/kbv-abandon">I cannot answer this question</a></p>

  </div>
</div>
{% endblock %}
