{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}
{% set title =  " You must answer all security questions to prove your identity" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         
      <form class="form" action="/no-photo-id-kbv-abandon-answer" method="post">

        

      <h1 class="govuk-heading-l">
        You must answer all security questions to prove your identity
      </h1>

      <p class="govuk-body">You cannot skip any questions.</p>

      
      



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    
      What would you like to do?
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="kbv-abandon" name="kbv-abandon" type="radio" value="continue">
        <label class="govuk-label govuk-radios__label" for="kbv-abandon">
          Continue answering the security questions
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="kbv-abandon-2" name="kbv-abandon" type="radio" value="another way">
        <label class="govuk-label govuk-radios__label" for="kbv-abandon-2">
          Stop answering the security questions and prove your identity another way
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>

      

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      <p class="govuk-body">
      <a href="#" class="govuk-link">Contact the GOV.UK account team (opens in a new tab)</a>
      </p>
      </form>
    </div>
  </div>

{% endblock %}
