{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}
{% set title =  "How much did you borrow when you first took out your mortgage?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/idv/kbv-cri/experian/no-photo-id/mortgage-payments" method="post">


      

      



<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="mortgage-balance-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      How much did you borrow when you first took out your mortgage?
    </h1>
  
  </legend>
  

  <div id="mortgage-balance-hint" class="govuk-hint">
    You can find this amount on your offer letter or mortgage agreement.
  </div>


  <div class="govuk-radios" data-module="govuk-radios">
    
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="mortgage-balance" name="mortgage-balance" type="radio" value="UP TO £160,000">
      <label class="govuk-label govuk-radios__label" for="mortgage-balance">
        UP TO £160,000
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="mortgage-balance-2" name="mortgage-balance" type="radio" value="OVER £160,000 UP TO £185,000">
      <label class="govuk-label govuk-radios__label" for="mortgage-balance-2">
        OVER £160,000 UP TO £185,000
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="mortgage-balance-3" name="mortgage-balance" type="radio" value="OVER £185,000 UP TO £210,000">
      <label class="govuk-label govuk-radios__label" for="mortgage-balance-3">
        OVER £185,000 UP TO £210,000
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="mortgage-balance-4" name="mortgage-balance" type="radio" value="OVER £210,000 UP TO £235,000">
      <label class="govuk-label govuk-radios__label" for="mortgage-balance-4">
        OVER £210,000 UP TO £235,000
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="mortgage-balance-5" name="mortgage-balance" type="radio" value="NONE OF THE ABOVE / DOES NOT APPLY">
      <label class="govuk-label govuk-radios__label" for="mortgage-balance-5">
        NONE OF THE ABOVE / DOES NOT APPLY
      </label>
      
    </div>
    
  
    
    
  </div>

</fieldset>

</div>


    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p><a class="govuk-link govuk-link--no-visited-state" href="/idv/kbv-cri/experian/no-photo-id/kbv-abandon">I cannot answer this question</a></p>

  </div>
</div>
{% endblock %}
