{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}
{% set title =  "When did you take out your mobile phone contract?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/idv/kbv-cri/experian/no-photo-id/proved-identity" method="post">


      

      



<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="phone-contract-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      When did you take out your mobile phone contract?
    </h1>
  
  </legend>
  

  <div id="phone-contract-hint" class="govuk-hint">
    Think about when you took out your personal phone contract instead of your work phone, if you have one.
  </div>


  <div class="govuk-radios" data-module="govuk-radios">
    
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="phone-contract" name="phone-contract" type="radio" value="04/2017">
      <label class="govuk-label govuk-radios__label" for="phone-contract">
        04/2017
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="phone-contract-2" name="phone-contract" type="radio" value="10/2017">
      <label class="govuk-label govuk-radios__label" for="phone-contract-2">
        10/2017
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="phone-contract-3" name="phone-contract" type="radio" value="03/2021">
      <label class="govuk-label govuk-radios__label" for="phone-contract-3">
        03/2021
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="phone-contract-4" name="phone-contract" type="radio" value="01/2021">
      <label class="govuk-label govuk-radios__label" for="phone-contract-4">
        01/2021
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="phone-contract-5" name="phone-contract" type="radio" value="NONE OF THE ABOVE / DOES NOT APPLY">
      <label class="govuk-label govuk-radios__label" for="phone-contract-5">
        NONE OF THE ABOVE / DOES NOT APPLY
      </label>
      
    </div>
    
  
    
    
  </div>

</fieldset>

</div>


    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    <p><a class="govuk-link govuk-link--no-visited-state" href="/idv/kbv-cri/experian/no-photo-id/kbv-abandon">I cannot answer this question</a></p>

  </div>
</div>
{% endblock %}
