{% set title =  "Access to Work Account Home" %}
{% set phaseBanner = 'false' %}

<style type="text/css">

    body { margin:0 !important; }
    div[style*="margin: 16px 0"] { margin:0 !important; }

    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
</style>

{% block content %}
<a href="/ur-r4/gds/notification-account-created-email-alt">
<img src="/public/images/dashboard.png" alt="Picture of a Access to Work Account Home Dashboard">
</a>

<p><a class="govuk-link" href="/ur-r5/gds/notification-account-created-email">Continue</a></p>
{% endblock %}
