{% extends "layouts/main.html" %}
{% set title =  "Access to Work Account Home" %}
{% set phaseBanner = 'false' %}

{% block header %}
    {{ govukHeader({
        homepageUrl: "#",
        serviceName: "Claim money back from Access to Work",
        serviceUrl: "#"
    }) }}
{% endblock %}

{% block content %}
<img class="atw-homepage" src="/public/images/dashboard3.png" alt="Picture of a Access to Work Account Home Dashboard">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-font-size-24"><a class="govuk-link" href="/ur-r5/gds/resting-page-after-sign-in">Continue</a></p>
    </div>
</div>
{% endblock %}
