{% extends "layouts/main.html" %}

{% block pageTitle %}
You’ve given us your new name - GOV.UK One Login
{% endblock %}



{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="/page-index/address-cri/repeat-fraud-check/find-current-address" method="post">

      <h1 class="govuk-heading-l">You’ve given us your new name</h1>

      <p>You’ll need to enter your current home address (and previous address if you’ve recently moved) when you continue. </p>

   
        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Contact the GOV.UK account team (opens in a new tab)</a>
          </p>

      </form>

    </div>
  </div>

{% endblock %}
