{% extends "layouts/_base-one-login.html" %}

{% block pageTitle %}
Update your details - GOV.UK One Login
{% endblock %}


{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="/update-your-details/answer" method="post">


        

        <h1 class="govuk-heading-l">
          Update your details
        </h1>
  
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Given names
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Elizabeth
            </dd>
            <dd class="govuk-summary-list__actions"> 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              Doe
            </dd>
            <dd class="govuk-summary-list__actions"> 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current home address
            </dt>
            <dd class="govuk-summary-list__value">
              38 Park Square North<br>Leeds<br>AB12 3CD
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              01 January 1982
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
  
  
  
  
  
  
  
  
  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset" aria-describedby="update-details-hint">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
        <h1 class="govuk-fieldset__heading">
          Which details do you need to update?
        </h1>
      
      </legend>
      
    
      <div id="update-details-hint" class="govuk-hint">
        Select all that apply.
      </div>
    


      

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        
        
          
      
      
        
        
        
        
        
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input option" id="update-details-1" name="update-details-1" type="checkbox" value="Given names" aria-describedby="update-details-item-hint">
          <label class="govuk-label govuk-checkboxes__label" for="update-details">
            Given names
          </label>
          
          <div id="update-details-item-hint" class="govuk-hint govuk-checkboxes__hint">
            This is your first name and middle names.
          </div>
          
        </div>
        
      
    </div>



        
          
      
      
        
        
        
        
        
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input option" id="update-details-2" name="update-details-2" type="checkbox" value="Last name">
          <label class="govuk-label govuk-checkboxes__label" for="update-details-2">
            Last name
          </label>
          
        </div>
        </div>
      
    
        
          
      
      
        <br>
        
        
        
        
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input option" id="update-details-3" name="update-details-3" type="checkbox" value="Address">
          <label class="govuk-label govuk-checkboxes__label" for="update-details-3">
            Address
          </label>
          
        </div>
        </div>
      
    
        
          
      
      
        
        
        
        <br>
        
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input option" id="update-details-4" name="update-details-4" type="checkbox" value="dob">
          <label class="govuk-label govuk-checkboxes__label" for="update-details-4">
            Date of birth
          </label>
          
        </div>
        </div>
        
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <br>
        <div class="govuk-checkboxes__divider">or</div>
      
  
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input none" id="update-details-5" name="update-details-5" type="checkbox" value="none" data-behaviour="exclusive">
          <label class="govuk-label govuk-checkboxes__label" for="update-details-5">
            I do not need to update my details
          </label>
          
        </div>
        
      
    
        
        
      </div>
    
    </fieldset>
  
  </div>
  
  
  
  
  
          <button class="govuk-button" data-module="govuk-button" data-behaviour="clear">Continue</button>
  
        </form>

    </div>
  </div>

{% endblock %}


