{% extends "layouts/main.html" %}

{% block pageTitle %}
Update your name using the GOV.UK ID Check app - GOV.UK One Login
{% endblock %}



{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/continuity-of-identity/update-name-app/answer" method="post">

      {% if showErrorSummary %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
              {
                  text: "Select what you would like to do",
                  href: "#update-name-app"
              }
          ]
      }) }}
      {% endif %}

<h1 class="govuk-heading-l">Update your name using the GOV.UK ID Check app</h1>

<p class="govuk-body">To update your name, you need to prove your identity again with your new name.</p>

<p class="govuk-body">You’ll need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>photo ID with the name you want GOV.UK One Login to use </li>
  <li>to tell us where you’ve lived for the last 3 months</li>
</ul>

<p class="govuk-body">
  Find out <a href="https://www.gov.uk/using-your-gov-uk-one-login/proving-your-identity" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">what photo ID you can use to prove your identity (opens in new tab)</a>.
</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    You may not be able to use your GOV.UK One Login if we cannot confirm your identity using your new details.
  </strong>
</div>

<h2 class="govuk-heading-m">If there is a mistake in your name</h2>
<p class="govuk-body">If there is a mistake in your name, do not try to prove your identity again unless the GOV.UK One Login support team has told you to.</p>

<p class="govuk-body">
  For example, if your name is missing letters or a hyphen, <a href="/journey-transition/leaving-prototype" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">contact the GOV.UK One Login team (opens in new tab)</a> instead.
</p>

<h2 class="govuk-heading-m">If you need to use the service now</h2>
<p class="govuk-body">Your proof of identity is still valid even if your details are out of date. </p>
<p class="govuk-body">You can use your saved details to access the service you need to use. </p>



{% if showErrorSummary %}
{{ govukRadios({
  name: "update-name-app",
  fieldset: {
    legend: {
      text: "What would you like to do?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Use app",
      text: "Update your name using the GOV.UK ID Check app",
      hint: {
        text: "We’ll guide you through this."
      }
    },
    {
      value: "find another way",
      text: "Continue to the service you were trying to use",
      hint: {
        text: "You can update your details later."
      }
    },
    {
      divider: "or"
    },
    {
      value: "go back",
      text: "Go back and check your details again"
    }
    ],
    errorMessage: {
        text: "Select what you would like to do"
    }
}) }}
{% else %}
{{ govukRadios({
  name: "update-name-app",
  fieldset: {
    legend: {
      text: "What would you like to do?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Use app",
      text: "Update your name using the GOV.UK ID Check app",
      hint: {
        text: "We’ll guide you through this."
      }
    },
    {
      value: "find another way",
      text: "Continue to the service you were trying to use",
      hint: {
        text: "You can update your details later."
      }
    },
    {
      divider: "or"
    },
    {
      value: "go back",
      text: "Go back and check your details again"
    }
    ]
}) }}
{% endif %}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If you cannot use the GOV.UK ID Check app
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Contact the GOV.UK One Login team if you cannot use the GOV.UK ID Check app. </p>
    <p class="govuk-body">You may need to delete your GOV.UK One Login. Then you can create a new one and try to prove your identity again with your new details.</p>
    <p class="govuk-body">
      <a href="/journey-transition/leaving-prototype" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Contact the GOV.UK One Login team (opens in new tab)</a>.
    </p>
  </div>
</details>

<button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
Continue
</button>
  
</form>

  </div>
</div>


{% endblock %}
