{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
How to take a photo of your photo ID
{% endblock %}


{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="mobile-frame">

  <!-- status bar -->
  <img src="/public/images/android-status-bar.svg" alt="Logo" id="status-bar">

  <!-- mobile-body -->
  <div class="mobile-body">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <form class="form" action="take-photograph-of-passport" method="post">


    
        <h1 class="govuk-app-heading-l-android govuk-app-margin-bottom-s govuk-app-margin-top-l">
          How to take a photo of your photo ID
        </h1>

        <p class="govuk-app-body-android govuk-app-margin-bottom-xl">Open your passport to the photo page and position it inside the frame until the frame turns green.</p>


        <div class="svg-animation-container govuk-app-margin-top-xl">
          <img src="/public/images/document-checking-app/passport/svg-animation/1.svg" class="svg-item" id="how-to-photograph-svg1">
          <img src="/public/images/document-checking-app/passport/svg-animation/2.svg" class="svg-item" id="how-to-photograph-svg2">
          <img src="/public/images/document-checking-app/passport/svg-animation/3.svg" class="svg-item" id="how-to-photograph-svg3">
          <img src="/public/images/document-checking-app/passport/svg-animation/4.svg" class="svg-item" id="how-to-photograph-svg4">
          <img src="/public/images/document-checking-app/passport/svg-animation/5.svg" class="svg-item" id="how-to-photograph-svg5">
          <img src="/public/images/document-checking-app/passport/svg-animation/6.svg" class="svg-item" id="how-to-photograph-svg6">
          <img src="/public/images/document-checking-app/passport/svg-animation/7.svg" class="svg-item" id="how-to-photograph-svg7">
          <img src="/public/images/document-checking-app/passport/svg-animation/8.svg" class="svg-item" id="how-to-photograph-svg8">
        </div>
        
        <div class="button-container govuk-app-margin-bottom-xl">
        <button type="submit" class="govuk-app-button-android" data-module="govuk-button">
         Start
        </button>
      </div>


      </form>
      </div>
    </div>

   

    
  </div>

   <!-- BottomBar -->
<div class="BottomBar black white-text">
  <div class="button-wrapper">
    <a href="#" class="waves-effect waves-light black ">
      <span class="icon">
        <svg width="40" height="40">
          <polygon points="26.5,12.5 26.5,27.5 13.5,20" fill="grey" stroke="grey" stroke-width="2" />
        </svg>
      </span>
    </a>
    <a href="#" class="waves-effect waves-light black">
      <span class="icon">
        <svg width="40" height="40">
          <circle cx="20" cy="20" r="7.5" fill="white" stroke="white" stroke-width="2" />
        </svg>
      </span>
    </a>
    <a href="#" class="waves-effect waves-light black">
      <span class="icon">
        <svg width="40" height="40">
          <rect x="12.5" y="12.5" width="15" height="15" fill="white" stroke="white" stroke-width="2" />
        </svg>
      </span>
    </a>
  </div>
</div>
</div>

{% endblock %}







