{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--interruption govuk-!-padding-left-8 govuk-!-padding-top-8 govuk-!-padding-right-8">
        
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 white-text">
                        User is now directed back to PIP to complete their journey.
                    </h1>

                    <p class="govuk-body">
                        <a href="/index" class="govuk-link govuk-link--inverse">Prototype home</a>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}