{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Check your phone" %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{title}}</h1>

          <p class="govuk-body">
                  We have sent you a text message with your security code.
          </p>

          <p class="govuk-body">
                  It might take up to a minute to arrive.
          </p>

          <p class="govuk-body">
                  The code will expire in 15 minutes.
          </p>

          <form action="/ur-r4/gds/resting-page-alt-1" method="post" novalidate>

                {{ govukInput({
                label: {
                    text: "Enter your security code",
                    isPageHeading: false
                },
                id: "2fa-code",
                name: "2fa-code",
                classes: "govuk-input--width-10",
                type: "text",
                spellcheck: "false",
                autocomplete: "one-time-code",
                inputmode: "numeric"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

          </form>

          <ul class="govuk-list">
                <li>
                    <a href="#" class="govuk-link">I did not get a text message</a>
                </li>
                <li>
                    <a href="#" class="govuk-link">I cannot access the mobile number I use to sign in</a>
                </li>
            </ul>


        </div>
    </div>
{% endblock %}
