{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Repay and manage benefit money you owe" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            <p class="govuk-body">
                Use this service if you need to repay money to the Department for Work and Pensions (DWP).

            </p>

            <p class="govuk-body">
                DWP will send you a letter or text message inviting you to use this service.
            </p>

            <h2 class="govuk-heading-m">
                Sub title here
            </h2>

            <p class="govuk-body">
                Sign into GOV.UK One Login with the details you’ve previously set up.
            </p>

            {{ govukButton({
                text: "Continue",
                href: "/ur-r4/gds/resting-page"
            }) }}

    </div>

{% endblock %}
