{% extends "layouts/main.html" %}
{% set phaseBanner = 'false' %}
{% set backLink = 'true' %}

{% set pageHeading = 'Changelog' %}


{% set serviceName %}
  DWP – GOV.UK One Login prototype
{% endset%}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block serviceName %}
  {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">DWP – GOV.UK One Login prototype changelog</h1>



    <h2 class="govuk-heading-m">
      July 2025
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
       Updated to the latest <a class="govuk-link--no-visited-state" target="_blank" href="https://github.com/alphagov/govuk-frontend/releases/tag/v5.11.1">GOV.UK frontend</a>.</li>
       <li>
      Updated the interstitial page template content.  
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      May 2025
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
       Updated to the latest <a class="govuk-link--no-visited-state" target="_blank" href="https://github.com/alphagov/govuk-frontend/releases/tag/v5.10.1">GOV.UK frontend</a> that includes the new header and footer branding.
gi</li>

    </ul>


    <h2 class="govuk-heading-m">
      April 2025
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Updated the content on <a class="govuk-link--no-visited-state" href="https://prototype-dwp-govuk-ol-87876067d492.herokuapp.com/idv/prove-identity-at-post-office">this page</a> as per the latest GOV.UK One Login prototype.
</li>
      <li>
        Removed two pages from the identity verification journey that refer to flashing colours and working camera to reflect latest GDS journey.
</li>
      <li>
        Updated Maternity Allowance service page that follows authentication.
</li>
<li>
  Included a new template page from GOV.UK One Login. It's a friction page that only appears when a user clicks the browser back button during the identity verification journey.  <a class="govuk-link--no-visited-state" href="https://prototype-dwp-govuk-ol-87876067d492.herokuapp.com/dev-ready/pyi-attempt-recovery">This page here.</a> 
</li>
    </ul>
    

    <h2 class="govuk-heading-m">
      March 2025
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Updated Repay header and the breadcrumbs on the start page to reflect what is currently on live.
</li>
    </ul>

    <h2 class="govuk-heading-m">
      February 2025
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Implemented <a class="govuk-link--no-visited-state" href="https://prototype-dwp-govuk-ol-87876067d492.herokuapp.com/idv/ipv-core/triage/live-in-uk">this page</a> as per the latest GOV.UK One Login prototype. 
  </li>
      <li>
      Collated examples of pages services will have to implement to accommodate the GOV.UK One Login journey. 
</li>
    </ul>


    <h2 class="govuk-heading-m">
      January 2025
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link--no-visited-state" href="https://prototype-dwp-govuk-ol-87876067d492.herokuapp.com/idv/ipv-core/continuity-of-identity/update-your-details">This page has been amended by the GOV.UK One Login team recently to allow returning users to update their details if need be.</a>
     </li>
      <li>
        <a class="govuk-link--no-visited-state" href="https://prototype-dwp-govuk-ol-87876067d492.herokuapp.com/idv/filter-question"> This page has been updated to reflect recent changes made by the GOV.UK One Login team.</a>
     </li>
  <li>
Fixed broken links
  </li>
    </ul>

    <h2 class="govuk-heading-m">
      December 2024
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link--no-visited-state" href="https://prototype-dwp-govuk-ol-87876067d492.herokuapp.com/transition/sign-in-with-govuk-one-login">Amended transition page content to better include the no photo ID journey</a>
     </li>
  <li>
    Split the journey by service line so we can see what that looks like end to end for different services with their specific start and end points
  </li>
    </ul>

      <h2 class="govuk-heading-m">
        November 2024
      </h2>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>Implemented no photo ID journey</li> 
      </ul>
  </div>
</div>

{% endblock %}