{% extends "layouts/main.html" %}
{% set phaseBanner = 'false' %}
{% set backLink = 'true' %}

{% set pageHeading = 'Changelog' %}


{% set serviceName %}
  DWP – GOV.UK One Login prototype
{% endset%}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block serviceName %}
  {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">DWP – GOV.UK One Login prototype changelog</h1>

      <h2 class="govuk-heading-m">
        November 2024
      </h2>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>Implemented no photo ID journey.</li> 
      </ul>
  </div>
</div>

{% endblock %}