{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% extends "layouts/_base-one-login.html" %}
{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set title =  "DWP–GOV.UK One Login prototype" %}

{% set serviceName %}
  DWP – GOV.UK One Login prototype
{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form class="form" action="/choose-journey-customer-view/answer" method="post">

        {% if showErrorSummary %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: "Choose a journey to continue",
                    href: "#choose-journey-customer-view"
                }
            ]
        }) }}

        {{ govukRadios({
          name: "choose-journey-customer-view",
          fieldset: {
            legend: {
              text: "Choose a journey",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "prove-identity",
              text: "New user",
              hint: {
                text: ""
              }
            },
            {
              value: "returning-ol-user",
              text: "Returning user",
              hint: {
                text: ""
              }
            }
          ],
            errorMessage: {
                text: "Choose a journey to continue"
            }
        }) }}
        {% else %}
        {{ govukRadios({
          name: "choose-journey-customer-view",
          fieldset: {
            legend: {
              text: "Choose a journey",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "prove-identity",
              text: "New user",
              hint: {
                text: ""
              }
            },
            {
              value: "returning-ol-user",
              text: "Returning user",
              hint: {
                text: ""
              }
            }
          ]
        }) }}
        {% endif %}

        {{ govukButton({
            text: "Continue",
            type: "Submit"
        }) }}

      </form>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      High level user journeys
    </h2>

    <img class="object-fit--contain" src="/public/images/user-journey/user-journeys-ol-dwp.png">

  </div>
</div>

{% endblock %}
