{% extends "layouts/main.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "DWP–GOV.UK One Login prototype" %}

{% set serviceName %}
  DWP – GOV.UK One Login prototype
{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">User research</span>
    <h2 class="govuk-heading-l">
      Round 5
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/ur-r5/dth/transition2-v2">Transition page 2 – alternative version</a>
      </li>
    </ul>

    {{ govukDetails({
        summaryText: "UR objectives for this round",
        html: "<a class='govuk-link' href='https://dwpgovuk.sharepoint.com/:p:/r/sites/ext-identity-and-trust-collaboration/Shared%20Documents/GOV.UK%20One%20Login/UCD/UCD%20Planning/User%20Research/OL%20UR%20Round%205/OL%20Convergence%20UR%20Round%205%20Summary.pptx?d=w6b938493a6d74828b04c2f8711536761&csf=1&web=1&e=wmzmD1' rel='noreferrer noopener' target='_blank'>Sharepoint (opens in new tab)" | safe
    }) }}

    {{ govukButton({
      text: "Start prototype",
      href: "ur-r5/access/access-to-work-start"
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Dev ready pages
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/dev-ready/transition/sign-in-with-govuk-one-login">Transition page 1</a>
        </li>
        <li>
          <a class="govuk-link" href="/dev-ready/transition/your-sign-in-details-have-been-updated">Transition page 2</a>
        </li>
        <li>
          <a class="govuk-link" href="/dev-ready/error/technical">Technical error</a>
        </li>
        <li>
          <a class="govuk-link" href="/dev-ready/error/timeout-and-bookmark">Timeout and bookmark error</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">
        Experiments
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <h3 class="govuk-heading-s">
            <a class="govuk-link" href="/ur-r1/dth/email-address?email-data=email-linting">Email linting</a>
          </h3>
          <p class="govuk-body">
            Save user data from the email address input field and display it back to them, allowing them to confirm or change.
          </p>
        </li>
      </ul>

    </div>

    <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Iterations – previous UR
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/ur-r1/index">Round 1</a>
        </li>
        <li>
          <a class="govuk-link" href="/ur-r2/index">Round 2 and 3</a>
        </li>
        <li>
          <a class="govuk-link" href="/ur-r4/index">Round 4</a>
        </li>
      </ul>
    </p>


  </div>
</div>

{% endblock %}
