{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}

{% set title =  "DWP–GOV.UK One Login prototype" %}

{% set serviceName %}
  DWP – GOV.UK One Login prototype
{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">User research</span>
    <h2 class="govuk-heading-l">
      Round 1
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/ur-r1/dth/transition">Transition page v1</a>
      </li>
      <li>
        <a class="govuk-link" href="/ur-r1/dth/transition-v2">Transition page v2</a>
      </li>
      <li>
        <a class="govuk-link" href="/ur-r1/dth/transition-v3-p1">Transition page v4</a>
      </li>
    </ul>

    {{ govukDetails({
        summaryText: "UR objectives for this round",
        html: "<a class='govuk-link' href='https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/133358059525/User+Research+Round+1+Planning'>See Confluence for details" | safe
    }) }}

    {{ govukButton({
      text: "Start prototype",
      href: "/ur-r1/repay/start"
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Dev ready
    </h2>

    <h3 class="govuk-heading-s">
      Email filter for One Login
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/dev-ready/email-filter-for-ol/email-address">Enter your email address</a>
      </li>
      <li>
        <a class="govuk-link" href="/dev-ready/email-filter-for-ol/email-code">Check your email</a>
      </li>
      <li>
        <a class="govuk-link" href="/dev-ready/email-filter-for-ol/resend-email">Send me a new email</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Experiments
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <h3 class="govuk-heading-s">
          <a class="govuk-link" href="/ur-r1/dth/email-address?email-data=email-linting">Email linting</a>
        </h3>
        <p class="govuk-body">
          Save user input from the email address input field and display it back to them, allowing them to confirm or change.
        </p>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
