{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/choose-journey" method="post">

            <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region">
                <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
                    <h2 class="govuk-notification-banner__title">
                        Next step
                    </h2>
                </div>

                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You've reached the end of this user journey
                    </p>
                    <p class="govuk-body">
                        In the live journey, the user will be automatically redirected.
                    </p>

                    <button class="govuk-button govuk-button--transition" data-module="govuk-button">
                        Choose another journey
                    </button>
                </div>
            </div>

        </form>

        <div class="govuk-!-padding-bottom-7"></div>

    </div>
</div>

{% endblock %}