{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose your address
{% endblock %}



{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/idv/address-cri/repeat-fraud-check/confirm-addresses" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Choose your address</h1>
          </legend>
          <p>
            <span class="govuk-!-margin-bottom-1 govuk-!-display-block">Postcode</span>
            <strong>{{ data['address-postcode-current'] }}</strong>
            <a href="/page-index/address-cri/app/find-current-address" class="govuk-!-margin-left-5">Change<span class="govuk-visually-hidden">your postcode</span></a>
          </p>
          <div class="govuk-form-group">
            <label class="govuk-label" for="delivery-address">Choose your current home address from the list</label>
            <select class="govuk-select" id="delivery-address" name="current-address">
              <option value="">3 addresses found</option>
              <option value="1 New Close, London, AB3 4CD">1 New Close, London, AB3 4CD</option>
              <option value="2 New Close, London, AB3 4CD">2 New Close, London, AB3 4CD</option>
              <option value="3 New Close, London, AB3 4CD">3 New Close, London, AB3 4CD</option>
            </select>
          </div>
        </fieldset>
        <p class="govuk-body">
          <a href="/page-index/address-cri/web/check-current-address">I cannot find my address in the list</a>
        </p>
        <button class="govuk-button" type="submit" data-module="govuk-button">Choose address</button>
      </form>
  </div>
</div>

{% endblock %}

