{% extends "layouts/_base-one-login.html" %}

{% set title =  "[Service name]" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>[Information about the service]</p>

      <p>
        You'll need a GOV.UK One Login to use this service. If you do not have a GOV.UK One Login, you can create one.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/idv/ipv-core/already-proved-identity",
        isStartButton: true
      }) }}

    
    </div>

    
  </div>

{% endblock %}