{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm your details
{% endblock %}


{% block beforeContent %}
{% include "/_includes/phase-banner.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="confirmation" method="post">

        <h1 class="govuk-heading-l">Check your details</h1>

  
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           Have you already moved into this property?
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['yes-or-no2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/page-index/address-cri/web/check-current-address">
                Change<span class="govuk-visually-hidden">name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is your new address in the UK?
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['yes-or-no2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/page-index/address-cri/web/check-current-address">
                Change<span class="govuk-visually-hidden">date of birth</span>
              </a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
             Home address
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['select-address'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/page-index/address-cri/web/check-current-address">
                Change<span class="govuk-visually-hidden">date of birth</span>
              </a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
            Email address
            </dt>
            <dd class="govuk-summary-list__value">
            smith@gmail.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/page-index/address-cri/web/check-current-address">
                Change<span class="govuk-visually-hidden">date of birth</span>
              </a>
            </dd>
          </div>
        </dl>
    <h3 class="govuk-heading-m">
           Submit your new details
            </h3>
<p class="govuk-body">
By submitting this change you are confirming that the information you are giving is complete and correct.          
  </p>
          <button class="govuk-button" data-module="govuk-button">Confirm and submit</button>
  
        </form>
  
      </div>
    </div>

{% endblock %}
