{% extends "layouts/_base-mysp" %}
{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% set title =  "Manage Your State Pension" %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
          

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="what-address" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             
              <h1 class="govuk-fieldset__heading">
             Is your new address in the UK?
              </h1>
            </legend>

            <!-- <p class="govuk-body">
              You can only change your address after you have moved.
            </p> -->

            <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-or-no2" name="yes-or-no2" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="yes-or-no2">
                 Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-or-no2" name="yes-or-no2" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="yes-or-no2">
                 No
                  <!-- <div id="event-name-hint" class="govuk-hint">
                    This means you expect to live there for less than 52 weeks then move back to where you lived before.
                  </div> -->
                </label>
              </div>
            </div>
          </fieldset><br><br>

        <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
          Continue
        </button>
      

    </div></form>
  </div>
  
  </div>


        </main>
{% endblock %}